In [1]:
from utils.df_handle import *

Default bq project:  spatial-vision-343005.biteam

In [7]:
upload_file_to_bucket("admin/duy.csv", HCM.to_csv())

In [2]:
client = get_storage_client()

In [9]:
# pd.read_csv("https://storage.googleapis.com/django_bucket_biteam/admin/duy.csv")

,Unnamed: 0,CODE KH,TEN KH,Giải pháp,T4 W1,T4 W2,T4 W3,T4 W4
0,0,M0103001,NT BV Nhi Đồng 2 - Quận 1 - HCM,NaN,NaN,0,21/12: KTCN Công 028 3829 5723: đã nhận thông ...,NaN
1,1,M011301,BV ĐK Sài Gòn - Quận 1 - HCM,NaN,NaN,"17/12: DS Mơ đã gửi chứng từ lên cho phòng KT,...",22/12: KTT muốn tách biên bản T11/2020 thành 4...,NaN
2,2,M0204002,BV Quận 2 - Quận 2 - HCM,NaN,"10/12: CS gửi đầy đủ chứng từ cho anh Thanh, K...",0,NaN,NaN
3,3,M0313001,NT BV Tai Mũi Họng - Quận 3 - HCM,NaN,2/12: KT Nhanh 0908841088: đã đi ngân hàng các...,0,22/12: KT Nhanh 0908841088: cuối năm đang bận ...,"31/12: KT Thanh đã đúng hẹn, thanh toán hết nợ..."
4,4,M031402,TTYT Quận 3 - Quận 3 - HCM (BV Quận 3 cũ),NaN,NaN,0,"23/12: PBH gặp KKT Oanh 097 6593466 đối chiếu,...",NaN
...,...,...,...,...,...,...,...,...
88,88,N02210008,TTYT Bù Gia Mập - Bình Phước,NaN,0,NaN,21/12: Ms Loan (KT) phản hồi đã nhận được chứn...,0
89,89,M010701,NT BV Phụ Sản Từ Dũ - Quận 1 - HCM,NaN,10/12: đã thanh toán hết nợ qá hạn,0,NaN,NaN
90,90,N02210033,PKNK Việt Mỹ - Bình Phước,NaN,0,NaN,KH đã thanh toán nợ quá hạn (3.999.996),0
91,91,M051402,BV Hïng V­¬ng,NaN,8/12: KT Hảo 028 3855 8532 (line 6140): đã hoà...,0,NaN,NaN
92,92,000680,NT C«ng Ty Cæ PhÇn BÖnh ViÖn §a Khoa Quèc TÕ H...,NaN,9/12: DS Trường đã nhắc kế toán thanh toán hóa...,17/12: KH đã thanh toán hết nợ qá hạn,NaN,NaN

In [4]:
bucket = client.get_bucket("django_bucket_biteam")

In [10]:
blob = bucket.blob("admin/duy.csv")

In [6]:
blob.upload_from_string(HCM.to_csv(), 'text/csv')

NameError: name 'blob' is not defined

In [ ]:
blob.upload_from_string()

In [4]:
CANTHO_URL = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vQ14feQXGyDq2fz-bXWUc0M3JBjMqVaODz-oynx8polZ2PVFpUzywva_SyQHUl9SOdjAGluFC8hcBTd/pub?gid=0&single=true&output=csv'
DANANG_URL = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vRtCp6WUTZZqdB58qwj-U4D96lX_bLYaycTLfs9KzHB9AjEdca5Nze9_RCTckpb3oHajFNZQU22hMcl/pub?gid=0&single=true&output=csv'
DONGNAI_URL = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vTrJr0oT1ecunKAJax724z6Bbp00A3oFDXhmP8IjY-d22AMEv41GOR9wPOtqCHo3CUaguBlN2BdKt20/pub?gid=0&single=true&output=csv'
HCM_URL = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vS1kl9m9UjXsOKFexUxdqh362B764_400AAkcmwnVKp_0Vmzh-d9fc3aS-GgKvTOpsIQ5_MSJYBoba_/pub?gid=0&single=true&output=csv'
HN_URL = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vSzDM0zpkG3s1DdLPNm6s9PH8P1eLeGt-i3KNoajBcErt-wJEfk7xQ83NDJsW0OwqZi_QBc_Vym2LEl/pub?gid=0&single=true&output=csv'
KHANHHOA_URL = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vSpD3yYDNhV9iuHdBUN98s9nQef1ISxlP4uDw5-CKF8vx2ZzYIyb8ZRSwDEHIOLRyV-DXs85-lwOkTd/pub?gid=0&single=true&output=csv'
NGHEAN_URL = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vQWLU2Ay0f2AqozDuM1uUaqLtqCczzju0s26k6NQVCW5vAvjFy5c9ZlouMuBwdL07SnrQFURxcjjV2g/pub?gid=0&single=true&output=csv'
QUOCQUANG_URL = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vSV9qglEc2gmvOFzVHIxpvA9f5x3kvBirSW7lHjeMRE-bfW8nuWChi9wLwTJGtF5xCp4hEHp91xPCtl/pub?gid=0&single=true&output=csv'
TANKHA_URL = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vQPttJ34dHuSIJ9kK6Q2PNV3NzZJzoY0RxcmxOEU_0HGh7Wx1ZFwiwfQEvT1A4H7yPwrkBeZU02a1rW/pub?gid=0&single=true&output=csv'

In [5]:
HCM = pd.read_csv(HCM_URL)

In [7]:
CANTHO = pd.read_csv(CANTHO_URL)
DANANG = pd.read_csv(DANANG_URL)
DONGNAI = pd.read_csv(DONGNAI_URL)
HCM = pd.read_csv(HCM_URL)
HN = pd.read_csv(HN_URL)
KHANHHOA = pd.read_csv(KHANHHOA_URL)
NGHEAN = pd.read_csv(NGHEAN_URL)
QUOCQUANG = pd.read_csv(QUOCQUANG_URL)
TANKHA = pd.read_csv(TANKHA_URL)

In [3]:
HCM.head()

NameError: name 'HCM' is not defined

In [25]:
df_all = union_all([CANTHO,DANANG,DONGNAI,HCM,HN,KHANHHOA,NGHEAN,QUOCQUANG,TANKHA])

In [6]:
df_all.to_csv('abc.csv')

In [26]:
df_all.columns = cleancols(df_all)

In [27]:
df_all.columns = lower_col(df_all)

In [28]:
df_all.columns

Index(['codekh', 'tenkh', 'giaiphap', 't4w1', 't4w2', 't4w3', 't4w4', 'tinh'], dtype='object')

In [29]:
# df_all1 = df_filter(df_all, codekh='000146').copy()

In [30]:
# df_all1

In [31]:
# df_all1['t4w4']==np.NAN

In [32]:
# df_all1['thongtinthanhtoangannhat'] = \
#     np.where(df_all1['t4w4'].isna(), df_all1['t4w3'], "OK")

In [33]:
# df_all1['thongtinthanhtoangannhat']

In [34]:
df_all.columns

Index(['codekh', 'tenkh', 'giaiphap', 't4w1', 't4w2', 't4w3', 't4w4', 'tinh'], dtype='object')

In [44]:
dk1 = df_all.codekh == 'N06202285'

In [45]:
df_all[dk1]

,codekh,tenkh,giaiphap,t4w1,t4w2,t4w3,t4w4,tinh,thongtinthanhtoangannhat
1614,N06202285,Công Ty CP Dược & VTYT Bình Thuận - Phan Thiết...,Gọi chị Nga nhắc thanh toán,NaN,Ngày 15/12 : C Loan nói để qua tuần chị xem là...,Ngày 23/12 : c Loan báo đã chuyển 7.6tr công n...,NaN,NaN,Ngày 23/12 : c Loan báo đã chuyển 7.6tr công n...

In [46]:
df_all['thongtinthanhtoangannhat'] = \
    np.where(df_all['t4w4'].notna(), df_all['t4w4'], \
        np.where(df_all['t4w3'].notna(), df_all['t4w3'], \
            np.where(df_all['t4w2'].notna(), df_all['t4w2'], \
                np.where(df_all['t4w1'].notna(), df_all['t4w1'], ""
    ))))

In [16]:
# vc(df_all, 'thongtinthanhtoangannhat')

In [47]:
ctr1 = df_all['giaiphap'].notna()
ctr2 = df_all['thongtinthanhtoangannhat'].notna()

In [48]:
FINAL = df_all[ctr1 | ctr2][['codekh','tenkh','giaiphap','thongtinthanhtoangannhat']].copy()

In [49]:
del(df_all)

In [50]:
col_name = ['makhcu', 'tenkh', 'giaiphap', 'thongtinthanhtoangannhat']

In [51]:
FINAL.columns = col_name

In [52]:
FINAL = dropdup(FINAL, 1, subset=['makhcu'])

In [53]:
commit_psql("truncate table d_tttt cascade;")

In [54]:
execute_values_insert(FINAL, "d_tttt")

Data inserted using execute_values() successfully..