In [2]:
from utils.df_handle import *

In [113]:
df = pd.read_csv('danhmucduy.csv', dayfirst=True, parse_dates=['InsertedAt'])

In [109]:
dk = df['Prescription'].isna()

In [114]:
# list(df.to_records(index=False))

In [115]:
# df = df[dk]

In [116]:
# df = df[['Prescription']]

In [99]:
df.fillna(np.NAN)

    Prescription
50           NaN
51           NaN
52           NaN
53           NaN
54           NaN
55           NaN
56           NaN
57           NaN
58           NaN
59           NaN

In [6]:
server = '115.165.164.234'
tcon = 'no'
database = 'PhaNam_eSales_PRO'
driver = "ODBC Driver 17 for SQL Server"
uname = 'duyvq'
pword = '123VanQuangDuy'
engine = create_engine(f"mssql+pyodbc://{uname}:{pword}@{server}/{database}?driver={driver}?Trusted_Connection={tcon}", fast_executemany = True)

In [7]:
# df1=df.head(0)

In [8]:
# df1

In [9]:
with closing(engine.connect()) as cnxn:
        # cnxn.execute(f"""DROP TABLE IF EXISTS [dbo].[IN_InfoRegisProduct];""")
        # cnxn.execute(sql_create)
        df.to_sql('IN_InfoRegisProduct', con = cnxn, index = False, schema="dbo", if_exists='append')

In [100]:
tpls = [tuple(x) for x in df.to_numpy()]

In [111]:
tpls = list(df.to_records(index=False))

In [112]:
tpls

[(nan,),
 (nan,),
 (nan,),
 (nan,),
 (nan,),
 (nan,),
 (nan,),
 (nan,),
 (nan,),
 (nan,)]

In [20]:
with closing(engine.connect()) as cnxn:
        cnxn.execute(f"""DROP TABLE IF EXISTS duyvq.[dbo].[IN_InfoRegisProduct];""")
        # cnxn.execute(sql_create)
        # df.to_sql('dbo.IN_InfoRegisProduct', con = cnxn, index = False, if_exists = 'replace')

In [80]:
cols = ','.join(list(df.columns))

In [81]:
cols

'Prescription'

In [82]:
table = 'dbo.IN_InfoRegisProduct'

In [83]:
placeholders = [
        "?",
    ] * len(df.columns)

In [37]:
df['Prescription'].fillna("NULL", inplace=True)

In [84]:
sql = f"INSERT INTO {table} ({cols}) VALUES ({','.join(placeholders)})"

In [85]:
sql

'INSERT INTO dbo.IN_InfoRegisProduct (Prescription) VALUES (?)'

In [86]:
server = '115.165.164.234'
driver = 'SQL Server'
db1 = 'PhaNam_eSales_PRO'
tcon = 'no'
uname = 'duyvq'
pword = '123VanQuangDuy'

In [ ]:
df.Prescription

In [102]:
with closing(pyodbc.connect(driver='{ODBC Driver 17 for SQL Server}', host=server, database=db1, trusted_connection=tcon, user=uname, password=pword)) as cnxn:
        with closing(cnxn.cursor()) as cursor:
            for i, row in enumerate(tpls, 1):
                print(sql,row)
                cursor.execute(sql, row)
            cnxn.commit()

INSERT INTO dbo.IN_InfoRegisProduct (Prescription) VALUES (?) (nan,)

ProgrammingError: ('42000', '[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 4 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')

In [74]:
# for i, row in enumerate(tpls, 1):
#     print(i, row)