In [52]:
import pandas as pd
import xlwings as xw

In [53]:
app = xw.App(visible=False)

In [54]:
wb = app.books.open('C:/Users/DELL/Downloads/Rawdata Doanh Số Chi Tiết (Tính Lương).Xlsb')

In [55]:
wb.sheets['Data'].range('1:4').delete()

In [56]:
wb.save()

In [57]:
wb.close()

In [58]:
app.quit()

In [ ]:
import os
lst_files = os.listdir("D:/data_sale/ipython_file/other/excel_fiels")

In [6]:
import pandas as pd

In [10]:
df=pd.DataFrame()
for i in lst_files:
    df1 = pd.read_csv("D:/data_sale/ipython_file/other/excel_fiels/"+i)
    df=pd.concat([df,df1])

In [11]:
df.head()

   a  b  c
0  1  1  1
0  2  2  2