In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('chinhanh.xlsx')

In [22]:
df['Name'].str.split(' ').apply(lambda x: x[-2:]).apply(lambda x: 'VP '+' '.join(x))

0      VP PHA NAM
1       VP HÀ NỘI
2    VP HẢI PHÒNG
3      VP NGHỆ AN
4      VP ĐÀ NẴNG
5    VP KHÁNH HÒA
6     VP ĐỒNG NAI
7      VP CẦN THƠ
Name: Name, dtype: object

In [19]:
' '.join(df['Name'].str.split(' ').apply(lambda x: x[-2:]).tolist())

TypeError: sequence item 0: expected str instance, list found

In [ ]:
pd_df['difficulty'] = np.select(
    [
        pd_df['Time'].between(0, 30, inclusive=False), 
        pd_df['Time'].between(30, 60, inclusive=True)
    ], 
    [
        'Easy', 
        'Medium'
    ], 
    default='Unknown'
)

In [ ]:
pd_df = pd.read_excel('excel.xlsx')

In [ ]:
x1 = np.array(pd_df['brand'])

In [ ]:
inlist = ['a','b']
len(inlist)

In [ ]:
condlist = [np.isin(x1, inlist)]

In [ ]:
choicelist = ['Pha Nam']

In [ ]:
default = 'Merap'

In [ ]:
pd_df['difficulty'] = np.select(condlist,choicelist, default = default)

In [ ]:
pd_df

In [ ]:
inlist = ['SNKR','SNKR-F','MRK','MRKF','MCT','BNTE','ETB','SATHOM','MTS','ALPHA']
inlist

In [ ]:
x = np.array(df['TenSanPhamVietTat'])

In [ ]:
condlist = [np.isin(x, inlist)]

In [ ]:
choicelist = ['Pha Nam']

In [ ]:
default = 'Merap'

In [ ]:
df['Merap/PhaNam'] = np.select(condlist,choicelist, default = default)

In [ ]:
list = []
for row in df['Merap/PhaNam'].tolist():
    if row == 'Pha Nam':
        x = 'Pha Nam'
    else:
        x= df['MaKenhKH']
    list.append(x)

In [ ]:
lambda x: x*10 if x<2 else (x**2 if x<4 else x+10)

In [ ]:
df

In [ ]:
df['Merap/PhaNam'].value_counts()

In [ ]:
phanam(df)

In [2]:
df = pd.read_excel('test_lambda.xlsx')

In [3]:
x = np.array(df['brand'])
condlist = [np.isin(x, ['A'])]

In [4]:
choicelist = ['A']
default = df['kenh']

In [5]:
df['test'] = np.select(condlist,choicelist, default = default)

In [6]:
df

  brand  kenh  test
0     A   INS     A
1     A   OTC     A
2     C  DLPP  DLPP
3     C    NB    NB
4     A    NB     A
5     C   CLC   CLC

In [229]:
df['kenh2'] = df['kenh'].map(lambda x: x if df['brand']!='A')
df

SyntaxError: invalid syntax (<ipython-input-229-6d44e6247e4d>, line 1)

In [ ]:
df['MaKenhKH2'] = df['Merap/PhaNam'].map(lambda x: x==10 if x=='Pha Nam' else x==df['MaKenhKH'])
df['MaKenhKH2'].value_counts()

In [ ]:
df = pd.read_csv('raw_data.csv')

In [ ]:
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)

In [ ]:
df.columns

In [ ]:
df['TenSanPhamVietTat'].value_counts().sort_index()

In [ ]:
df['SDDH-CN'] =  df['SoDonDatHang']+'.'+df['MaCongTy/CN']

In [ ]:
df

In [ ]:
df = pd.read_excel('masanpham.xlsx')

In [ ]:
inlist = df['MSP'].tolist()

In [ ]:
inlist

In [ ]:
inlist = ['EH072',
 'OH057',
 'OH032',
 'OH047',
 'OH016',
 'OH058',
 'OH060',
 'OH061',
 'OH062',
 'OH063',
 'OH064',
 'OH065',
 'OH070',
 'OH069',
 'OH066',
 'OH068',
 'OH067',
 'EH105',
 'OH071',
 'OH079',
 'OH081']

In [ ]:
inlist = ['EH072', 'OH057', 'OH032', 'OH047','OH016','OH058','OH060','OH061','OH062','OH063','OH064','OH065','OH070','OH069','OH066','OH068','OH067','EH105','OH071','OH079','OH081']