In [1]:
!pwd

/content

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
!pip install xlsxwriter

Collecting xlsxwriter
  Downloading https://files.pythonhosted.org/packages/6b/41/bf1aae04932d1eaffee1fc5f8b38ca47bbbf07d765129539bc4bcce1ce0c/XlsxWriter-1.3.7-py2.py3-none-any.whl (144kB)
     |████████████████████████████████| 153kB 5.3MB/s
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-1.3.7

In [4]:
cd /content/drive/MyDrive/Colab Notebooks

/content/drive/MyDrive/Colab Notebooks

In [5]:
import httplib2
from apiclient import discovery
from google.oauth2 import service_account
import os
import numpy as np
import pandas as pd
import xlsxwriter
import tqdm
import itertools
import calendar
from datetime import datetime as dt
import datetime
import json
from collector.libs.datetime_util import parse_time
from collector.libs.pandas_utils import insert_df_to_postgres
from sqlalchemy import create_engine, Table, MetaData
from sqlalchemy.dialects import postgresql

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [7]:
scopes = ['https://www.googleapis.com/auth/spreadsheets','https://www.googleapis.com/auth/drive','https://www.googleapis.com/auth/drive.file']
jsonfile = os.path.join(os.getcwd(),'datateam1599968716114-6f9f144b4262.json')
credentials = service_account.Credentials.from_service_account_file(jsonfile, scopes = scopes)
service = discovery.build('sheets','v4',credentials = credentials)

In [10]:
spreadsheets_id ='1rTrDa0EXMtQe6WMSMQ_aqKxhbi8lh9pqWOkj_XQxBQA'
response = service.spreadsheets().values().get(
    spreadsheetId = spreadsheets_id,
    majorDimension = 'ROWS',
    range = 'capture0103'
).execute()

In [11]:
columns=response['values'][0]
data=[item for item in response['values'][1:]]
df_raw = pd.DataFrame(data,columns=columns)
df_raw = df_raw.dropna(subset=['brand','platform'])
df_raw

    Group Brand    brand platform  ... 3/29/2021 3/30/2021 3/31/2021
0       LVN ACD      LRP   Shopee  ...     0.00%     0.00%     0.00%
1       LVN ACD      VIC   Shopee  ...     0.00%     0.00%     0.00%
2       LVN ACD      LRP      LZD  ...     0.00%     0.00%     0.00%
3       LVN ACD      VIC      LZD  ...     0.00%     0.00%     0.00%
4       LVN ACD      LRP     Tiki  ...     0.00%     0.00%     0.00%
..          ...      ...      ...  ...       ...       ...       ...
132     Karmart  Karmart      LZD  ...     0.00%     0.00%     0.00%
133     Karmart  Karmart   Shopee  ...     0.00%     0.00%     0.00%
134          LG       LG      LZD  ...     0.00%     0.00%     0.00%
135      Nestle   Nestle      LZD  ...     0.00%     0.00%     0.00%
136      Nestle   Nestle    Sendo  ...     0.00%     0.00%     0.00%

[137 rows x 198 columns]

In [ ]:
#### EXTRACT #####
cols = df_raw.columns.tolist()
# fix temp
# df_raw.loc[(df_raw['Group Brand'] == 'Dist. FMCG 4') & (df_raw['Brand'] == 'KAO'), 'Brand'] = 'Dist. FMCG 4'
ix_nmv = cols.index('NMV Daily')+2
ix_order = cols.index('Order')+2
ix_calendar = cols.index('CP Calendar')+1
ix_traffic = cols.index('Traffic')+2
ix_fulfillment = cols.index('Fulfillment Model')+1
index_first_day = cols.index('NMV Daily') + 2
first_day = dt.strptime(cols[index_first_day],'%m/%d/%Y')
num_days = calendar.monthrange(first_day.year, first_day.month)[1]

In [ ]:
ix_order, num_days, ix_nmv, ix_calendar, index_first_day, first_day, num_days, ix_fulfillment, ix_traffic

(38, 31, 5, 70, 5, datetime.datetime(2021, 1, 1, 0, 0), 31, 102, 135)

In [ ]:
df_raw1 = df_raw.iloc[:, 0:(ix_nmv+num_days)].copy()
df_raw1=df_raw1.drop(['NMV Daily', 'Total'], axis = 1)
df_nmv = df_raw1.melt(id_vars=['Group Brand','brand','platform'], var_name='date', value_name='nmv_target')
df_nmv

     Group Brand     brand platform       date nmv_target
0        LVN ACD       LRP   Shopee   1/1/2021      5,320
1        LVN ACD       VIC   Shopee   1/1/2021      2,280
2        LVN ACD       LRP      LZD   1/1/2021      2,856
3        LVN ACD       VIC      LZD   1/1/2021      1,344
4        LVN ACD       LRP     Tiki   1/1/2021      2,231
...          ...       ...      ...        ...        ...
4180        XMEN      XMEN    Sendo  1/31/2021          0
4181    KANGAROO  KANGAROO      LZD  1/31/2021        100
4182    KANGAROO  KANGAROO   Shopee  1/31/2021        100
4183    KANGAROO  KANGAROO     Tiki  1/31/2021         10
4184    KANGAROO  KANGAROO    Sendo  1/31/2021

[4185 rows x 5 columns]

In [ ]:
df_raw2 = df_raw.iloc[:, ix_order:(ix_order+num_days)].copy()
df_raw2['ABC'] = 'Duy'
df_order = df_raw2.melt(id_vars=['ABC'], var_name='date', value_name='order_target')
df_order.drop(['ABC','date'],axis=1,inplace = True)
df_order

     order_target
0             330
1             117
2             156
3              49
4             156
...           ...
4180            0
4181            1
4182            1
4183            0
4184            0

[4185 rows x 1 columns]

In [ ]:
df_raw3 = df_raw.iloc[:, ix_calendar:(ix_calendar+num_days)].copy()
df_raw3['ABC'] = 'Duy'
df_daytype = df_raw3.melt(id_vars=['ABC'], var_name='date', value_name='day_type')
df_daytype.drop(['ABC','date'],axis=1,inplace = True)
df_daytype

     day_type
0          BL
1          BL
2          CP
3          CP
4          BL
...       ...
4180       BL
4181       BL
4182       BL
4183       BL
4184       BL

[4185 rows x 1 columns]

In [ ]:
df_raw4 = df_raw.iloc[:, ix_traffic:(ix_traffic+num_days)].copy()
df_raw4['ABC'] = 'Duy'
df_traffic = df_raw4.melt(id_vars=['ABC'], var_name='date', value_name='traffic_target')
df_traffic.drop(['ABC','date'],axis=1,inplace = True)
df_traffic.fillna(0,inplace = True)
df_traffic

     traffic_target
0            30,040
1            10,629
2            16,089
3             5,020
4            15,001
...             ...
4180              0
4181             71
4182             71
4183              7
4184              0

[4185 rows x 1 columns]

In [ ]:
df_raw5 = df_raw.iloc[:, ix_fulfillment:(ix_fulfillment+num_days)].copy()
df_raw5['ABC'] = 'Duy'
df_fulfillment = df_raw5.melt(id_vars=['ABC'], var_name='date', value_name='fulfillment_model')
df_fulfillment.drop(['ABC','date'],axis=1,inplace = True)
df_fulfillment

     fulfillment_model
0                  FBS
1                  FBS
2                  FBL
3                  FBL
4                  FBT
...                ...
4180               FBO
4181               FBO
4182               FBO
4183               FBO
4184               FBO

[4185 rows x 1 columns]

In [ ]:
df = pd.concat([df_nmv,df_order,df_traffic,df_daytype,df_fulfillment],axis=1)
df['brand_platform'] = df['brand'] + df['platform']
df.drop(['Group Brand'],axis=1,inplace = True)
df = df.apply(lambda x: x.str.strip()).replace('', np.nan)
df

         brand platform       date  ... day_type fulfillment_model  brand_platform
0          LRP   Shopee   1/1/2021  ...       BL               FBS       LRPShopee
1          VIC   Shopee   1/1/2021  ...       BL               FBS       VICShopee
2          LRP      LZD   1/1/2021  ...       CP               FBL          LRPLZD
3          VIC      LZD   1/1/2021  ...       CP               FBL          VICLZD
4          LRP     Tiki   1/1/2021  ...       BL               FBT         LRPTiki
...        ...      ...        ...  ...      ...               ...             ...
4180      XMEN    Sendo  1/31/2021  ...       BL               FBO       XMENSendo
4181  KANGAROO      LZD  1/31/2021  ...       BL               FBO     KANGAROOLZD
4182  KANGAROO   Shopee  1/31/2021  ...       BL               FBO  KANGAROOShopee
4183  KANGAROO     Tiki  1/31/2021  ...       BL               FBO    KANGAROOTiki
4184  KANGAROO    Sendo  1/31/2021  ...       BL               FBO   KANGAROOSendo

[4185 rows x 9 columns]

In [ ]:
df['nmv_target'] = df['nmv_target'].fillna(0).str.replace(',','')
df['order_target'] = df['order_target'].fillna(0).str.replace(',','')
df['traffic_target'] = df['traffic_target'].fillna(0).str.replace(',','')

In [ ]:
df['day_type'] = df['day_type'].fillna('BL')
df['nmv_target'] = pd.to_numeric(df['nmv_target'],errors='coerce').fillna(0).astype('int64')
df['order_target'] = pd.to_numeric(df['order_target'],errors='coerce').fillna(0).astype('int64')
df['traffic_target'] = pd.to_numeric(df['traffic_target'],errors='coerce').fillna(0).astype('int64')
df['fulfillment_model'] = df['fulfillment_model'].fillna('None')
df['date'] = pd.to_datetime(df['date'])
df = df.dropna(subset=["brand", "platform", "date", "day_type"]).copy()

In [ ]:
data_to_excel = pd.ExcelWriter("TargetSetting.xlsx",engine='xlsxwriter')
data_to_excel2 = df.to_excel(data_to_excel,sheet_name = '1')
data_to_excel.save()

In [ ]:
def get_postgres_engine(postgres_conf):
    engine = create_engine(
        "postgresql://{user}:{pw}@{host}:{port}/{db}".format(
            user=postgres_conf["user"],
            pw=postgres_conf["password"],
            host=postgres_conf["host"],
            port=postgres_conf["port"],
            db=postgres_conf["database"],
        )
    )
    return engine

postgres_conf = {
  "host": "opwh.cybjleasxg2d.ap-southeast-1.rds.amazonaws.com",
  "port": 5432,
  "user": "dieuanh",
  "password": "m!f3QKXdZQ1sXMPk",
  "database": "warehouse",
}

def insert_df_to_postgres(postgres_conf, tbl_name, df, primary_keys: list, schema="public"):
    if df.shape[0] < 1:
        return

    def norm_value(d: dict):
        for k, v in d.items():
            if isinstance(v, (list, tuple)):
                continue
            if pd.isnull(v):
                d[k] = None
        return d

    engine = get_postgres_engine(postgres_conf)
    meta = MetaData(schema=schema)

    conn = engine.connect()
    my_table = Table(tbl_name, meta, autoload=True, autoload_with=conn)
    insert_statement = postgresql.insert(my_table).values(
        list(map(norm_value, df.to_dict(orient="records")))
    )
    if len(primary_keys):
        upsert_statement = insert_statement.on_conflict_do_update(
            index_elements=primary_keys,
            set_={
                c.key: c for c in insert_statement.excluded if c.key not in primary_keys
            },
        )
        conn.execute(upsert_statement)
    else:
        conn.execute(insert_statement)

In [ ]:
        
#### LOAD #####
insert_df_to_postgres(
postgres_conf, tbl_name="calendar",
df=df, primary_keys=["brand", "platform", "date", "day_type"], schema="public")

In [ ]:
df.dtypes

brand                        object
platform                     object
date                 datetime64[ns]
nmv_target                    int64
order_target                  int64
traffic_target                int64
day_type                     object
fulfillment_model            object
brand_platform               object
dtype: object

In [ ]:
?insert_df_to_postgres_fast

Signature: insert_df_to_postgres_fast(postgres_conf, tbl_name, df, mode)
Docstring: <no docstring>
File:      c:\users\onpoint\collector\libs\pandas_utils.py
Type:      function