In [1]:
from sqlalchemy import create_engine
from contextlib import closing
engine = create_engine('postgresql+psycopg2://biteam:123biteam@171.235.26.161/biteam')

def get_conn():
    return engine.connect()

def get_cur():
    return engine.raw_connection().cursor()

def get_pandas_df(sql, parameters=None):
        """
        Executes the sql and returns a pandas dataframe

        :param sql: the sql statement to be executed (str) or a list of
            sql statements to execute
        :type sql: str or list
        :param parameters: The parameters to render the SQL query with.
        :type parameters: mapping or iterable
        """
        if sys.version_info[0] < 3:
            sql = sql.encode('utf-8')
        import pandas.io.sql as psql

        with get_conn() as conn:
            return psql.read_sql(sql, con=conn)

def get_records(sql, parameters=None):
        """
        Executes the sql and returns a set of records.

        :param sql: the sql statement to be executed (str) or a list of
            sql statements to execute
        :type sql: str or list
        :param parameters: The parameters to render the SQL query with.
        :type parameters: mapping or iterable
        """
        if sys.version_info[0] < 3:
            sql = sql.encode('utf-8')
        with closing(get_cur()) as cur:
            if parameters is not None:
                cur.execute(sql, parameters)
            else:
                cur.execute(sql)
            return cur.fetchall()

In [2]:
get_pandas_df(sql="select * from dataframe")

                     date  marks    name      bonus
0 2021-05-01 00:00:00.000      5     duy      1.700
1 2021-05-02 00:00:00.000      6   khanh      2.700
2 2021-05-03 00:00:00.000      7    vinh      3.700
3 2021-05-07 18:08:51.057      0  MR0001  35238.094

In [3]:
get_records(sql="select * from dataframe")

[(datetime.datetime(2021, 5, 1, 0, 0), 5, 'duy', 1.7),
 (datetime.datetime(2021, 5, 2, 0, 0), 6, 'khanh', 2.7),
 (datetime.datetime(2021, 5, 3, 0, 0), 7, 'vinh', 3.7),
 (datetime.datetime(2021, 5, 7, 18, 8, 51, 57000), 0, 'MR0001', 35238.094)]