In [1]:
from openpyxl import load_workbook

In [2]:
from utils.df_handle import *

In [3]:
# cdf = pd.read_excel("data.xlsx", sheet_name=None).values()

In [4]:
wb = load_workbook("data0702.xlsx", read_only=True, keep_links=False)

In [5]:
# wb.close()

In [6]:
lst = wb.sheetnames

In [7]:
lst

['25.01', '26.01', '28.01']

In [8]:
wb.close()

In [9]:
df = pd.read_excel("data0702.xlsx", sheet_name='25.01').head(0)

In [10]:
# _df = pd.read_excel("data.xlsx", sheet_name='01.12')

In [11]:
# _df[_df.Date.isna()]

In [12]:
for sheetname in lst:
    _df = pd.read_excel("data0702.xlsx", sheet_name=sheetname)
    df = df.append(_df, ignore_index=True)

In [13]:
df.columns = cleancols(df)
df.columns = lower_col(df)

In [14]:
# df.head(100).to_clipboard()

In [15]:
dk = df.dvt.notna()

In [16]:
df.shape

(259, 79)

In [17]:
df1 = df[dk].copy()

In [18]:
df.shape

(259, 79)

In [19]:
# df1[df1.date.isna()]

In [20]:
# _df = pd.DataFrame(df1.columns)

In [21]:
# _df.to_clipboard()

In [22]:
df1.khohanoi = 'HN'
df1.khonghean = 'NA'
df1.khohcm = 'HCM'
df1.khodongnai = 'DNAI'
df1.khocantho = 'CT'
df1.khokhanhhoa = 'KH'
df1.khodanang = 'DNANG'
df1.khonhamay = 'NHAMAY'

In [23]:
# drop_cols(df1, ['mtv'])

In [24]:
df1.columns

Index(['date', 'maso', 'tenhang', 'dvt', 'khohanoi', 'khocn', 'hcm', 'mtv',
       'treohdaochuarahd', 'cong', 'diduong', 'tongcong', 'dsbqngay',
       'tgnhanngay', 'tgbanngay', 'khonghean', 'khocn1', 'hcm1', 'mtv1',
       'treohdaochuarahd1', 'cong1', 'diduong1', 'tongcong1', 'dsbqngay1',
       'tgnhanngay1', 'tgbanngay1', 'khohcm', 'khohcm1', 'khovime',
       'khoguimrxuly', 'treohdaochuarahd2', 'cong2', 'diduong2', 'tongcong2',
       'dsbqngay2', 'tgnhanngay2', 'tgbanngay2', 'khodongnai', 'khocn2',
       'hcm2', 'treohdaochuarahd3', 'cong3', 'diduong3', 'tongcong3',
       'dsbqngay3', 'tgnhanngay3', 'tgbanngay3', 'khocantho', 'khocn3', 'hcm3',
       'treohdaochuarahd4', 'cong4', 'diduong4', 'tongcong4', 'dsbqngay4',
       'tgnhanngay4', 'tgbanngay4', 'khokhanhhoa', 'khocn4', 'hcm4',
       'treohdaochuarahd5', 'cong5', 'diduong5', 'tongcong5', 'dsbqngay5',
       'tgnhanngay5', 'tgbanngay5', 'khodanang', 'khocn5', 'hcm5',
       'treohdaochuarahd6', 'cong6', 'diduong6', 'tongcong6', 'dsbqngay6',
       'tgnhanngay6', 'tgbanngay6', 'khonhamay', 'tonkhonm'],
      dtype='object')

In [25]:
df1_hn = df1[['date', 'maso', 'tenhang', 'dvt','khohanoi', 'khocn', 'hcm','treohdaochuarahd','diduong']].copy()
df1_hn['tonmerap'] = 0
df1_hn['tonvime'] = 0
df1_hn.rename(columns={'khohanoi':'chinhanh'}, inplace=True)

In [26]:
df1_na = df1[['date', 'maso', 'tenhang', 'dvt','khonghean', 'khocn1', 'hcm1','treohdaochuarahd1','diduong1']].copy()
df1_na['tonmerap'] = 0
df1_na['tonvime'] = 0
df1_na.columns = ['date', 'maso', 'tenhang', 'dvt', 'chinhanh', 'khocn', 'hcm','treohdaochuarahd', 'diduong', 'tonmerap', 'tonvime']

In [27]:
df1_hcm = df1[['date', 'maso', 'tenhang', 'dvt','khohcm', 'khohcm1', 'khovime', 'khoguimrxuly','treohdaochuarahd2','diduong2']].copy()
df1_hcm['hcm'] = 0
df1_hcm = df1_hcm[['date', 'maso', 'tenhang', 'dvt', 'khohcm', 'khohcm1', 'hcm', 'treohdaochuarahd2', 'diduong2', 'khoguimrxuly', 'khovime']]
df1_hcm.columns = ['date', 'maso', 'tenhang', 'dvt', 'chinhanh', 'khocn', 'hcm','treohdaochuarahd', 'diduong', 'tonmerap', 'tonvime']

In [28]:
df1_dnai = df1[['date', 'maso', 'tenhang', 'dvt','khodongnai', 'khocn2', 'hcm2','treohdaochuarahd3','diduong3']].copy()
df1_dnai['tonmerap'] = 0
df1_dnai['tonvime'] = 0
df1_dnai.columns = ['date', 'maso', 'tenhang', 'dvt', 'chinhanh', 'khocn', 'hcm','treohdaochuarahd', 'diduong', 'tonmerap', 'tonvime']

In [29]:
df1_ct = df1[['date', 'maso', 'tenhang', 'dvt','khocantho', 'khocn3', 'hcm3','treohdaochuarahd4','diduong4']].copy()
df1_ct['tonmerap'] = 0
df1_ct['tonvime'] = 0
df1_ct.columns = ['date', 'maso', 'tenhang', 'dvt', 'chinhanh', 'khocn', 'hcm','treohdaochuarahd', 'diduong', 'tonmerap', 'tonvime']

In [30]:
df1_kh = df1[['date', 'maso', 'tenhang', 'dvt','khokhanhhoa', 'khocn4', 'hcm4','treohdaochuarahd5','diduong5']].copy()
df1_kh['tonmerap'] = 0
df1_kh['tonvime'] = 0
df1_kh.columns = ['date', 'maso', 'tenhang', 'dvt', 'chinhanh', 'khocn', 'hcm','treohdaochuarahd', 'diduong', 'tonmerap', 'tonvime']

In [31]:
df1_dnang = df1[['date', 'maso', 'tenhang', 'dvt','khodanang', 'khocn5', 'hcm5','treohdaochuarahd6','diduong6']].copy()
df1_dnang['tonmerap'] = 0
df1_dnang['tonvime'] = 0
df1_dnang.columns = ['date', 'maso', 'tenhang', 'dvt', 'chinhanh', 'khocn', 'hcm','treohdaochuarahd', 'diduong', 'tonmerap', 'tonvime']

In [32]:
df1_nhamay = df1[['date', 'maso', 'tenhang', 'dvt','khonhamay', 'tonkhonm']].copy()
df1_nhamay['khocn'] = 0
df1_nhamay['hcm'] = 0
df1_nhamay['treohdaochuarahd'] = 0
df1_nhamay['diduong'] = 0
df1_nhamay['tonmerap'] = 0
df1_nhamay['tonvime'] = 0

In [33]:
df1_nhamay.columns

Index(['date', 'maso', 'tenhang', 'dvt', 'khonhamay', 'tonkhonm', 'khocn',
       'hcm', 'treohdaochuarahd', 'diduong', 'tonmerap', 'tonvime'],
      dtype='object')

In [34]:
df1_nhamay = df1[['date', 'maso', 'tenhang', 'dvt','khonhamay', 'tonkhonm']].copy()
df1_nhamay['khocn'] = 0
df1_nhamay['hcm'] = 0
df1_nhamay['treohdaochuarahd'] = 0
df1_nhamay['diduong'] = 0
df1_nhamay['tonmerap'] = 0
df1_nhamay['tonvime'] = 0
df1_nhamay = df1_nhamay[['date', 'maso', 'tenhang', 'dvt', 'khonhamay', 'khocn', 'hcm', 'treohdaochuarahd', 'diduong', 'tonmerap', 'tonvime', 'tonkhonm']]
df1_nhamay.columns = ['date', 'maso', 'tenhang', 'dvt', 'chinhanh', 'khocn', 'hcm', 'treohdaochuarahd', 'diduong', 'tonmerap', 'tonvime', 'tonkhonm']

In [35]:
# df1_nhamay.khocn.sum()

In [36]:
df1_all = df1_hn.append(df1_na).append(df1_hcm).append(df1_dnai).append(df1_ct).append(df1_kh).append(df1_dnang)

In [37]:
df1_all['tonkhonm'] = 0

In [38]:
df1_all.khocn = pd.to_numeric(df1_all.khocn)

In [39]:
# vc(df1_all,['chinhanh'])

In [40]:
df1_all2 = df1_all.append(df1_nhamay)

In [41]:
df1_all2.columns = ['created_date', 'masanpham', 'tensanpham', 'donvi', 'chinhanh', 'toncn', 'tonhcm', 'tonao', 'tonhangdiduong', 'tonmerap', 'tonvime', 'tonnmtp']

In [42]:
checkdup(df1_all2, 1, ['created_date','masanpham','chinhanh']).sum()

0

In [43]:
df1_all2.columns

Index(['created_date', 'masanpham', 'tensanpham', 'donvi', 'chinhanh', 'toncn',
       'tonhcm', 'tonao', 'tonhangdiduong', 'tonmerap', 'tonvime', 'tonnmtp'],
      dtype='object')

In [44]:
df1_all2.shape

(1928, 12)

In [45]:
execute_values_upsert(df1_all2, "f_sc_daily_invt", ["created_date", "masanpham", "chinhanh"])

INSERT INTO f_sc_daily_invt(created_date,masanpham,tensanpham,donvi,chinhanh,toncn,tonhcm,tonao,tonhangdiduong,tonmerap,tonvime,tonnmtp) VALUES %s ON CONFLICT (created_date, masanpham, chinhanh) DO UPDATE SET tensanpham = excluded.tensanpham, donvi = excluded.donvi, toncn = excluded.toncn, tonhcm = excluded.tonhcm, tonao = excluded.tonao, tonhangdiduong = excluded.tonhangdiduong, tonmerap = excluded.tonmerap, tonvime = excluded.tonvime, tonnmtp = excluded.tonnmtp
Data inserted using execute_values() successfully..