In [1]:
from utils.df_handle import *

Default bq project:  spatial-vision-343005.biteam

In [2]:
df = pd.read_pickle("df.pickle")

In [4]:
df.to_excel("snapshot.xlsx", index=False)

In [15]:
df = get_ps_df("select masanpham, nhomsp from d_nhom_sp where nhomsp = 'PHA NAM'")

In [16]:
df.to_pickle("d_nhom_sp.df")

In [4]:
# dskh = pd.read_excel("dskh_t11.xlsx")

In [5]:
# bq_values_insert(dskh, "d_phanloai_chamsoc_kh", 3)

In [1]:
data = {}

In [2]:
len(data)

0

In [5]:
#lấy data danh sách report
df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vSuXl7AnpSA5j_KrgFO2zhLn8DsD20RVuuG7g6Y7F9y5EbiPHT05ug_m3eh8MBOaMDvNmk-DX4g0igF/pub?gid=1043526978&single=true&output=csv")
cleancols(df)
df.columns =lower_col(df)
df_aut = pd.melt(df,id_vars=['stt', 'tenreport', 'linkreport', 'type','id', 'id_mb', 'vw', 'param'])
df_aut=df_aut[~df_aut['value'].isna()]
df_aut.rename(columns={'value':'accessgroup'},inplace=True)

In [6]:
df_aut.head()

,stt,tenreport,linkreport,type,id,id_mb,vw,param,variable,accessgroup
0,1,MR | Sales Report - Mobile,https://datastudio.google.com/reporting/805cab...,0,805cab11-106f-414c-9d65-6e7e66a040d5,805cab11-106f-414c-9d65-6e7e66a040d5,600px,?params=xxxxxx,ag1,Phanam-ALL-CEO
1,2,NS | Sales Performance,https://datastudio.google.com/reporting/01efbd...,0,01efbde2-97eb-483f-8191-936762a38b32,c91090ba-f2ae-464e-97da-e93a316eb19e,95vw,?params=xxxxxx,ag1,Phanam-ALL-CEO
2,3,MR | Báo cáo tồn kho hằng ngày (SC và PBH),https://datastudio.google.com/reporting/4c7606...,0,4c760642-716c-4a38-8e81-2f37731da019,4c760642-716c-4a38-8e81-2f37731da019,80vw,?params=xxxxxx,ag1,Phanam-ALL-CEO
3,4,NM | Báo cáo tồn kho phục vụ sản xuất,https://datastudio.google.com/reporting/aec470...,0,aec470cf-edef-45d1-8ea1-2f801d370100,aec470cf-edef-45d1-8ea1-2f801d370100,80vw,?params=xxxxxx,ag1,Phanam-ALL-CEO
4,5,GD | Quản trị dịch vụ giao hàng,https://datastudio.google.com/reporting/42dc6b...,0,42dc6b37-46f7-4795-928c-7d922387c2a1,1138db43-64d5-4bce-b9dc-599a4ff88af2,80vw,?params=xxxxxx,ag1,Phanam-ALL-CEO

In [9]:
#lấy data phân quyền detail tách theo phân quyền CA & non CA
df_group = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vSuXl7AnpSA5j_KrgFO2zhLn8DsD20RVuuG7g6Y7F9y5EbiPHT05ug_m3eh8MBOaMDvNmk-DX4g0igF/pub?gid=2075224509&single=true&output=csv")
cleancols(df_group)
df_group.columns=lower_col(df_group)    
dk2= df_group['csv_link']!='CA'
df_link = df_group[~df_group['csv_link'].isna()]
link=df_link['csv_link'][df_link['accessgroupcongtyphongbanlevel']!='CA']
# ca_link=df_link['csv_link'][df_link['accessgroupcongtyphongbanlevel']=='CA']

# #Join phân quyền theo Access Group
df0 = pd.DataFrame()
for i in link:
    df = pd.read_csv(i)
    df0 = pd.concat([df0,df])
dropdup(df0,3)
df0['accessgroup'] = df0['congty']+'-'+df0['phongban']+'-'+df0['chucdanh']

In [11]:
df0.head()

,manv,tencvbh,email,chucdanh,congty,phongban,kenhphutrach,trangthaihoatdong,nhanvien_thaythe,note,...,AG16,AG17,AG18,AG19,AG20,AG21,AG22,AG23,AG24,accessgroup
0,MR2032,Nguyễn Thanh Sơn,thanhsonbg.vnn@gmail.com,Level1-CTV/CRS/CRSS,Trading,PBH,INS,Còn hoạt động,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Trading-PBH-Level1-CTV/CRS/CRSS
1,MR2424,Lưu Thị Hương Liễu,lieulth8889@gmail.com,Level1-CTV/CRS/CRSS,Trading,PBH,INS,Còn hoạt động,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Trading-PBH-Level1-CTV/CRS/CRSS
2,MR2561,Trần Văn Quỳnh,tranquynh526@gmail.com,Level1-CTV/CRS/CRSS,Trading,PBH,INS,Còn hoạt động,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Trading-PBH-Level1-CTV/CRS/CRSS
3,MR2588,Lê Văn Hiếu,lehieuttth@gmail.com,Level1-CTV/CRS/CRSS,Trading,PBH,INS,Còn hoạt động,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Trading-PBH-Level1-CTV/CRS/CRSS
4,MR2562,Phạm Thị Linh,phamthuylinh19052003@gmail.com,Level1-CTV/CRS/CRSS,Trading,PBH,INS,Còn hoạt động,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Trading-PBH-Level1-CTV/CRS/CRSS

In [10]:
# df0.head()

In [ ]:
full_df = pd.merge(df_aut,df0,how='inner', on='accessgroup')

In [4]:
full_df.head()

,stt,tenreport,linkreport,type,id_x,id_mb_x,vw_x,param_x,variable,accessgroup,...,AG16,AG17,AG18,AG19,AG20,AG21,AG22,AG23,AG24,inserted_at
0,1,MR | Sales Report - Mobile,https://datastudio.google.com/reporting/805cab...,0,805cab11-106f-414c-9d65-6e7e66a040d5,805cab11-106f-414c-9d65-6e7e66a040d5,600px,?params=xxxxxx,ag1,Phanam-ALL-CEO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-28 11:47:55.054671
1035,1,MR | Sales Report - Mobile,https://datastudio.google.com/reporting/805cab...,0,805cab11-106f-414c-9d65-6e7e66a040d5,805cab11-106f-414c-9d65-6e7e66a040d5,600px,?params=xxxxxx,ag4,ALL-ALL-BOD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-28 11:47:55.054671
1034,1,MR | Sales Report - Mobile,https://datastudio.google.com/reporting/805cab...,0,805cab11-106f-414c-9d65-6e7e66a040d5,805cab11-106f-414c-9d65-6e7e66a040d5,600px,?params=xxxxxx,ag4,ALL-ALL-BOD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-28 11:47:55.054671
1038,1,MR | Sales Report - Mobile,https://datastudio.google.com/reporting/805cab...,0,805cab11-106f-414c-9d65-6e7e66a040d5,805cab11-106f-414c-9d65-6e7e66a040d5,600px,?params=xxxxxx,ag4,ALL-ALL-BOD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-28 11:47:55.054671
1245,1,MR | Sales Report - Mobile,https://datastudio.google.com/reporting/805cab...,0,805cab11-106f-414c-9d65-6e7e66a040d5,805cab11-106f-414c-9d65-6e7e66a040d5,600px,?params=xxxxxx,ag3,Holding-APP-IT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-28 11:47:55.054671

In [ ]:
full_df['inserted_at']=datetime.now()
full_df=full_df.sort_values('stt')

# full_df.to_clipboard()
full_df = dropdup(full_df, 1, subset=['id', 'manv'])

In [5]:
PXKKVCNB = pd.read_csv("pr_IN_RawdataXNTByLot_BI.csv")

In [18]:
PXKKVCNB['expdate1'] = pd.to_datetime(PXKKVCNB['expdate'])

In [19]:
PXKKVCNB[PXKKVCNB.invtid == 'OH078'].to_clipboard()

In [2]:
df = pd.read_pickle("20221229_DF5_Dup.pickle")

In [3]:
df.head()

,masanpham,tensanpham,donvi,chinhanh,songaynhan,tonao,tonhangdiduong,toncn,tonhcm,tonmerap,tonvime,toncn_huy,tonhcm_huy,tonece
186,EH109,Cebest 50 Gói,HOP,HN,1,-100.0,0.0,372.0,521.0,0.0,0.0,0.0,0.0,0.0
187,EH109,Cebest 50 Gói,HOP,HN,6,-150.0,0.0,0.0,510.0,0.0,0.0,0.0,0.0,0.0

In [5]:
sql = \
"""
SELECT u.UserName,u.FirstName,sc.ScreenNumber,sc.Descr,a.SessionNumber, a.InternetAddress, a.ComputerName, a.CompanyID
FROM dbo.SYS_Access a
INNER JOIN dbo.Users u ON a.UserId=u.UserName
and u.UserTypes like '%CS%'
INNER JOIN dbo.SYS_Screen sc ON sc.ScreenNumber=a.ScreenNumber
WHERE CAST(a.AccessDate AS DATE) BETWEEN '20221201' AND '20221231'
"""
df = get_ms_df(sql)
bq_values_insert(df, "d_sync_sysaccess", 3)