In [2]:
import pandas as pd

In [3]:
A = pd.DataFrame({'color': ['green', 'yellow', 'red'], 'num':[1, 2, 3]})

In [4]:
B = pd.DataFrame({'color': ['green', 'yellow', 'pink'], 'size':['S', 'M', 'L']})

inner: use intersection of keys from both frames, similar to a SQL inner join; preserve the order of the left keys

outer: use union of keys from both frames, similar to a SQL full outer join; sort keys lexicographically

left: use only keys from left frame, similar to a SQL left outer join; preserve key order

right: use only keys from right frame, similar to a SQL right outer join; preserve key order

In [5]:
A.head()

    color  num
0   green    1
1  yellow    2
2     red    3

In [6]:
B.head()

    color size
0   green    S
1  yellow    M
2    pink    L

In [7]:
pd.merge(A, B, how='left')

    color  num size
0   green    1    S
1  yellow    2    M
2     red    3  NaN

In [8]:
pd.merge(A, B, how='right')

    color  num size
0   green  1.0    S
1  yellow  2.0    M
2    pink  NaN    L

In [9]:
pd.merge(A, B, how='inner')

    color  num size
0   green    1    S
1  yellow    2    M