In [2]:
from utils.df_handle import *

In [7]:
df1 = pd.read_csv('hanh_csv.csv', parse_dates=['DateOfOrder'], dayfirst=True)

In [8]:
df1.dtypes

BranchID               object
OrderNbr               object
CustID                 object
DateOfOrder    datetime64[ns]
dtype: object

In [9]:
df1.DateOfOrder

0    2021-01-01
1    2021-01-01
2    2021-01-02
3    2021-01-03
4    2021-01-03
5    2021-01-04
6    2021-01-05
7    2021-01-10
8    2021-01-13
9    2021-01-14
10   2021-01-20
Name: DateOfOrder, dtype: datetime64[ns]

In [12]:
df1a=df1.copy()
# df1a.shape
df1b = df1a[['BranchID','CustID', 'DateOfOrder']].copy()
df1b.drop_duplicates(keep='first', inplace=True)
# df1b.shape
df1b['cum_count'] = df1b.groupby(['BranchID','CustID']).cumcount()
df1a = df1a.merge(df1b, how='left', on=['BranchID','CustID', 'DateOfOrder'])
df1a['cum_count_plus1'] = df1a['cum_count']+1
df1b = df1a[['BranchID', 'CustID', 'cum_count', 'OrderNbr', 'DateOfOrder']].drop_duplicates(keep='first')
# df1b.to_csv('df1b.csv')
df1a = df1a.merge(df1b.add_prefix('y_'), how='left', left_on=['BranchID', 'CustID', 'cum_count_plus1'], right_on=['y_BranchID','y_CustID','y_cum_count'])
df1a.y_DateOfOrder.fillna(df1a.DueDate, inplace=True)
df1a.DueDate = np.where(df1a.DueDate>df1a.y_DateOfOrder, df1a.y_DateOfOrder, df1a.DueDate)

In [13]:
df1a.head(100)

,BranchID,OrderNbr,CustID,DateOfOrder,DueDate,cum_count,cum_count_plus1,y_BranchID,y_CustID,y_cum_count,y_OrderNbr,y_DateOfOrder
0,HCM,A,A1,2021-01-01,2021-01-02,0,1,HCM,A1,1.0,B,2021-01-02
1,HCM,A1,A1,2021-01-01,2021-01-02,0,1,HCM,A1,1.0,B,2021-01-02
2,HCM,B,A1,2021-01-02,2021-01-03,1,2,HCM,A1,2.0,C,2021-01-03
3,HCM,B,A1,2021-01-02,2021-01-03,1,2,HCM,A1,2.0,C1,2021-01-03
4,HCM,C,A1,2021-01-03,2021-01-04,2,3,HCM,A1,3.0,E,2021-01-04
5,HCM,C1,A1,2021-01-03,2021-01-04,2,3,HCM,A1,3.0,E,2021-01-04
6,HCM,E,A1,2021-01-04,2021-01-05,3,4,HCM,A1,4.0,F,2021-01-05
7,HCM,F,A1,2021-01-05,2021-01-10,4,5,HCM,A1,5.0,G,2021-01-10
8,HCM,G,A1,2021-01-10,2021-01-13,5,6,HCM,A1,6.0,J,2021-01-13
9,HCM,J,A1,2021-01-13,2021-01-14,6,7,HCM,A1,7.0,K,2021-01-14
10,HCM,K,A1,2021-01-14,2021-01-20,7,8,HCM,A1,8.0,L,2021-01-20
11,HCM,L,A1,2021-01-20,2021-02-19,8,9,NaN,NaN,NaN,NaN,2021-02-19

In [12]:
arr2  = [1, 1, 2, 2, 3, 5,6, 9, 9, 10]

In [14]:
for x,y in zip(arr2,arr2[1:]):
    if x==y or y-x==1:
        print(x, y, "OK")
    else:
        print(x, y, "Not OK")

1 1 OK
1 2 OK
2 2 OK
2 3 OK
3 5 Not OK
5 6 OK
6 9 Not OK
9 9 OK
9 10 OK

In [55]:
df = pd.read_excel('Grouping.xlsx')

In [49]:
df.head()

  Brand       Date
0     A 2021-01-01
1     A 2021-01-01
2     A 2021-01-02
3     A 2021-01-03
4     A 2021-01-04

In [50]:
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)

In [51]:
df

   Brand       Date
0      A 2021-01-01
1      A 2021-01-01
2      A 2021-01-02
3      A 2021-01-03
4      A 2021-01-04
5      A 2021-01-05
6      A 2021-01-10
7      A 2021-01-13
8      A 2021-01-14
9      A 2021-01-20
10     B 2020-01-21
11     B 2020-01-22
12     B 2020-01-24
13     B 2020-01-27
14     B 2020-01-28

In [52]:
df['group'] = df['Date'].diff().gt(pd.to_timedelta('1d'))

In [53]:
df['group']

0     False
1     False
2     False
3     False
4     False
5     False
6      True
7      True
8     False
9      True
10    False
11    False
12     True
13     True
14    False
Name: group, dtype: bool

In [54]:
df['group'].cumsum()

0     0
1     0
2     0
3     0
4     0
5     0
6     1
7     2
8     2
9     3
10    3
11    3
12    4
13    5
14    5
Name: group, dtype: int32

In [ ]:
df.groupby(['YES']).cumcount()

In [35]:
df['group'].cumsum()

0    0
1    0
2    0
3    0
4    0
5    0
6    1
7    2
8    2
9    3
Name: group, dtype: int32

In [27]:
df1 = pd.read_excel('Grouping1.xlsx')

In [ ]:
df1['YES'].cumcount()

In [32]:
df1.groupby(['YES']).cumcount()

0    0
1    1
2    2
3    3
4    4
5    5
6    0
7    6
8    7
9    1
dtype: int64

In [38]:
s = pd.Series([0, 0, 0, 1, 1,0])

In [39]:
s.cumsum()

0    0
1    0
2    0
3    1
4    2
5    2
dtype: int64

In [40]:
s1 = pd.Series([False, False, False, True, True,False])

In [41]:
s1.cumsum()

0    0
1    0
2    0
3    1
4    2
5    2
dtype: int32

In [62]:
gk = df.groupby('Brand')['Date']

In [74]:
gk.groups()

TypeError: 'PrettyDict' object is not callable

In [3]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two'],
                   'C' : [1, 5, 5, 2, 5, 5],
                   'D' : [2.0, 5., 8., 1., 2., 9.]})

In [9]:
df

     A      B  C    D
0  foo    one  1  2.0
1  bar    one  5  5.0
2  foo    two  5  8.0
3  bar  three  2  1.0
4  foo    two  5  2.0
5  bar    two  5  9.0

In [4]:
gb=df.groupby(['A','B'])

In [8]:
for A, A_df in gb:
    print(A)
    print(A_df)

('bar', 'one')
     A    B  C    D
1  bar  one  5  5.0
('bar', 'three')
     A      B  C    D
3  bar  three  2  1.0
('bar', 'two')
     A    B  C    D
5  bar  two  5  9.0
('foo', 'one')
     A    B  C    D
0  foo  one  1  2.0
('foo', 'two')
     A    B  C    D
2  foo  two  5  8.0
4  foo  two  5  2.0

In [112]:
df['no_csum'] = df.groupby(['A'])['C'].cumsum()

In [113]:
df

     A      B  C    D  no_csum
0  foo    one  1  2.0        1
1  bar    one  5  5.0        5
2  foo    two  5  8.0        6
3  bar  three  2  1.0        7
4  foo    two  5  2.0       11
5  bar    two  5  9.0       12

In [109]:
gb = df.groupby(['A'], as_index=False)

In [110]:
gb['C'].cumsum()

    C
0   1
1   5
2   6
3   7
4  11
5  12

In [82]:
gb['C'].first()

A
bar    5
foo    1
Name: C, dtype: int64

In [97]:
gb['C'].get_group(name='bar').cumsum()

1     5
3     7
5    12
Name: C, dtype: int64

In [99]:
gb.groups.keys()

dict_keys(['bar', 'foo'])

In [40]:
df1a = pd.read_excel('ngaydenhan.xlsx')
df1a['group'] = df1a.groupby(['BranchID','CustID'])['DateOfOrder'].diff().gt(pd.to_timedelta('1d'))
df1a['group'] = df1a.groupby(['BranchID','CustID'])['group'].cumsum()
df1a2 = df1a.groupby(['BranchID','CustID', 'group'], as_index=False).agg({'DateOfOrder': np.max})
df1a = df1a.merge(df1a2, how = 'left', on=['BranchID','CustID','group'], suffixes=('_ori', ''), validate="m:1")
drop_cols(df1a, ['group'])
del(df1a2)

In [55]:
df['DueDate'] = df.DateOfOrder+timedelta(30)
df1a=df.copy()

In [56]:
df1b = df1a[['BranchID','CustID', 'DateOfOrder']].copy()
df1b.drop_duplicates(keep='first', inplace=True)
df1b['cum_count'] = df1b.groupby(['BranchID','CustID']).cumcount()
df1a = df1a.merge(df1b, how='left', on=['BranchID','CustID', 'DateOfOrder'])
df1a['cum_count_plus1'] = df1a['cum_count']+1
df1b = df1a[['BranchID', 'CustID', 'cum_count', 'DateOfOrder']].drop_duplicates(keep='first')
df1a = df1a.merge(df1b.add_prefix('y_'), how='left', left_on=['BranchID', 'CustID', 'cum_count_plus1'], right_on=['y_BranchID','y_CustID','y_cum_count'])
df1a.y_DateOfOrder.fillna(df1a.DueDate, inplace=True)
df1a.DueDate = np.where(df1a.DueDate>df1a.y_DateOfOrder, df1a.y_DateOfOrder, df1a.DueDate)

In [58]:
drop_cols(df1a, ['DateOfOrder'])
df1a.rename(columns={"DateOfOrder_ori": "DateOfOrder"}, inplace=True)

In [60]:
df1a

,BranchID,CustID,DateOfOrder,DueDate,cum_count,cum_count_plus1,y_BranchID,y_CustID,y_cum_count,y_DateOfOrder
0,CN1,A1,2021-01-01,2021-01-10,0,1,CN1,A1,1.0,2021-01-10
1,CN1,A1,2021-01-01,2021-01-10,0,1,CN1,A1,1.0,2021-01-10
2,CN1,A1,2021-01-02,2021-01-10,0,1,CN1,A1,1.0,2021-01-10
3,CN1,A1,2021-01-03,2021-01-10,0,1,CN1,A1,1.0,2021-01-10
4,CN1,A1,2021-01-04,2021-01-10,0,1,CN1,A1,1.0,2021-01-10
5,CN1,A1,2021-01-05,2021-01-10,0,1,CN1,A1,1.0,2021-01-10
6,CN1,A1,2021-01-10,2021-01-14,1,2,CN1,A1,2.0,2021-01-14
7,CN1,A1,2021-01-13,2021-01-20,2,3,CN1,A1,3.0,2021-01-20
8,CN1,A1,2021-01-14,2021-01-20,2,3,CN1,A1,3.0,2021-01-20
9,CN1,A1,2021-01-20,2021-02-19,3,4,NaN,NaN,NaN,2021-02-19
10,CN2,B1,2021-01-01,2021-01-10,0,1,CN2,B1,1.0,2021-01-10
11,CN2,B1,2021-01-01,2021-01-10,0,1,CN2,B1,1.0,2021-01-10
12,CN2,B1,2021-01-02,2021-01-10,0,1,CN2,B1,1.0,2021-01-10
13,CN2,B1,2021-01-10,2021-02-09,1,2,NaN,NaN,NaN,2021-02-09
14,CN2,B1,2021-01-10,2021-02-09,1,2,NaN,NaN,NaN,2021-02-09