In [1]:
from utils.df_handle import *
from requests.structures import CaseInsensitiveDict
import requests
import json
import base64

Default bq project:  spatial-vision-343005.biteam

In [122]:
t7=pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vRD6M-I1HqZYPnrOeRy3q_RKVzIAml-tItrBDUdPUZcX1KGNGHvYL-7dabjV8Ao1IcNRM01pCrGuOb6/pub?gid=0&single=true&output=csv")
t8=pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vRD6M-I1HqZYPnrOeRy3q_RKVzIAml-tItrBDUdPUZcX1KGNGHvYL-7dabjV8Ao1IcNRM01pCrGuOb6/pub?gid=1038230106&single=true&output=csv")
t9=pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vRD6M-I1HqZYPnrOeRy3q_RKVzIAml-tItrBDUdPUZcX1KGNGHvYL-7dabjV8Ao1IcNRM01pCrGuOb6/pub?gid=17231151&single=true&output=csv")
t10=pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vRD6M-I1HqZYPnrOeRy3q_RKVzIAml-tItrBDUdPUZcX1KGNGHvYL-7dabjV8Ao1IcNRM01pCrGuOb6/pub?gid=523968361&single=true&output=csv")
t11=pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vRD6M-I1HqZYPnrOeRy3q_RKVzIAml-tItrBDUdPUZcX1KGNGHvYL-7dabjV8Ao1IcNRM01pCrGuOb6/pub?gid=507303559&single=true&output=csv")
t12=pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vRD6M-I1HqZYPnrOeRy3q_RKVzIAml-tItrBDUdPUZcX1KGNGHvYL-7dabjV8Ao1IcNRM01pCrGuOb6/pub?gid=604997355&single=true&output=csv")

# tonchuanhap=pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vRyzCqWkMoy_XdBYCO6oirKy6pXwHEjxVKJqBgvmKHXH8dnZ0hl_sOMXxgZkYnl1r2m8tUvz47GPCJZ/pub?gid=0&single=true&output=csv")
# songaynhapkho=pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vRyzCqWkMoy_XdBYCO6oirKy6pXwHEjxVKJqBgvmKHXH8dnZ0hl_sOMXxgZkYnl1r2m8tUvz47GPCJZ/pub?gid=770086452&single=true&output=csv")
# quycachdh=pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vRyzCqWkMoy_XdBYCO6oirKy6pXwHEjxVKJqBgvmKHXH8dnZ0hl_sOMXxgZkYnl1r2m8tUvz47GPCJZ/pub?gid=1649408062&single=true&output=csv")

t7['month']='2022-07-01'
t8['month']='2022-08-01'
t9['month']='2022-09-01'
t10['month']='2022-10-01'
t11['month']='2022-11-01'
t12['month']='2022-12-01'

lst = [t7,t8,t9,t10,t11,t12]
month_list = lst
for i in month_list:
    i.columns = cleancols(i)
    i.columns = lower_col(i)
    print(len(i.columns))
    print((i.columns))

df=pd.concat(lst)
# union_all()
# df = union_all([t11,t12])
df= df[df['masanphamphanam'].notna()].copy()
df_old=df.copy()
drop_cols(df, ['stt','giaidoan',
    'thangtruocchuyensang', 'poton', 'podathang', 'pobosung', 'tong',
    'phanbothuchien','conton'])
df = pd.melt(df,id_vars=['masanphamphanam', 'tensanpham','month'])
# df= df.apply(lambda x: x.str.replace(',',''))
df.value = pd.to_numeric(df.value, errors='coerce')

43
Index(['stt', 'masanphamphanam', 'tensanpham', 'giaidoan',
       'thangtruocchuyensang', 'poton', 'podathang', 'pobosung', 'tong',
       'phanbothuchien', 'conton', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', 'month'],
      dtype='object')
43
Index(['stt', 'masanphamphanam', 'tensanpham', 'giaidoan',
       'thangtruocchuyensang', 'poton', 'podathang', 'pobosung', 'tong',
       'phanbothuchien', 'conton', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', 'month'],
      dtype='object')
43
Index(['stt', 'masanphamphanam', 'tensanpham', 'giaidoan',
       'thangtruocchuyensang', 'poton', 'podathang', 'pobosung', 'tong',
       'phanbothuchien', 'conton', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', 'month'],
      dtype='object')
43
Index(['stt', 'masanphamphanam', 'tensanpham', 'giaidoan',
       'thangtruocchuyensang', 'poton', 'podathang', 'pobosung', 'tong',
       'phanbothuchien', 'conton', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', 'month'],
      dtype='object')
43
Index(['stt', 'masanphamphanam', 'tensanpham', 'giaidoan',
       'thangtruocchuyensang', 'poton', 'podathang', 'pobosung', 'tong',
       'phanbothuchien', 'conton', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', 'month'],
      dtype='object')
43
Index(['stt', 'masanphamphanam', 'tensanpham', 'giaidoan',
       'thangtruocchuyensang', 'poton', 'podathang', 'pobosung', 'tong',
       'phanbothuchien', 'conton', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', 'month'],
      dtype='object')

In [121]:
# df.to_clipboard()

In [123]:
df1= df[df['value'].notna()].copy()
df1= df1[df1['value']!=''].copy()
#update 28092022
df1.value = pd.to_numeric(df1.value)
df1.variable = pd.to_numeric(df1.variable)
#endupdate
df1[["value","variable"]]= df1[["value","variable"]].astype('int64')
df1.rename(columns={'value':'soluong',
               }, inplace=True)
df1['ngaysx']= pd.to_datetime(pd.DatetimeIndex(df1['month']).year.astype('str')+'-'+ pd.DatetimeIndex(df1['month']).month.astype('str')+'-'+df1['variable'].astype('str'), format="%Y-%m-%d")
df1.drop(['variable'],axis=1,inplace=True)

#add cot conton
df_old= df_old[['masanphamphanam','month','giaidoan',
'thangtruocchuyensang', 'poton', 'podathang', 'pobosung', 'tong',
'phanbothuchien','conton']].copy()

df1['month']=pd.to_datetime(df1['month'], format="%Y-%m-%d")
df_old['month']=pd.to_datetime(df_old['month'])
df_old=dropdup(df_old,3,subset=['masanphamphanam','month'])
df1=pd.merge(df1,df_old,how='left', on=['masanphamphanam','month'])

# tonchuanhap['ngayreview']=pd.to_datetime(tonchuanhap['ngayreview'], format="%d/%m/%Y")

#datenow_1dago = datetime.now().replace(hour=23,minute=30) - timedelta(days=1)

df1['inserted_at'] = datetime.now()
# tonchuanhap['inserted_at'] = datetime.now()
# songaynhapkho['inserted_at'] = datetime.now()
# quycachdh['inserted_at'] = datetime.now()

# bq_values_insert(df1,"d_nm_kehoachsanxuat",3)
# bq_values_insert(tonchuanhap,"d_nm_tonchuanhap",3)
# bq_values_insert(songaynhapkho,"d_nm_songaynhapkho",3)
# bq_values_insert(quycachdh,"d_sc_quycachdh",3)

In [125]:
df1.columns

Index(['masanphamphanam', 'tensanpham', 'month', 'soluong', 'ngaysx',
       'giaidoan', 'thangtruocchuyensang', 'poton', 'podathang', 'pobosung',
       'tong', 'phanbothuchien', 'conton', 'inserted_at'],
      dtype='object')

In [126]:
bq_values_insert(df1,"d_nm_kehoachsanxuat",3)

In [124]:
df1.to_clipboard()

In [86]:
df= df[df['masanphamphanam'].notna()].copy()

In [89]:
drop_cols(df, ['stt','giaidoan',
    'thangtruocchuyensang', 'poton', 'podathang', 'pobosung', 'tong',
    'phanbothuchien','conton'])

In [103]:
# df= df.apply(lambda x: x.str.replace(',',''))
# df= df.apply(lambda x: x.str.replace('ƒêN',''))
# df= df.apply(lambda x: x.str.replace('PC',''))
# df= df.apply(lambda x: x.str.replace('DV',''))
# df= df.apply(lambda x: x.str.replace('BP',''))
# df= df.apply(lambda x: x.str.replace('-',''))

In [93]:
df = pd.melt(df,id_vars=['masanphamphanam', 'tensanpham','month'])

In [104]:
df.to_clipboard()

In [ ]:
df1= df[df['value'].notna()].copy()

df1= df1[df1['value']!=''].copy()
#update 28092022
df1.value = pd.to_numeric(df1.value)
df1.variable = pd.to_numeric(df1.variable)
#endupdate
df1[["value","variable"]]= df1[["value","variable"]].astype('int64')
df1.rename(columns={'value':'soluong',
                    }, inplace=True)
df1['ngaysx']= pd.to_datetime(pd.DatetimeIndex(df1['month']).year.astype('str')+'-'+ pd.DatetimeIndex(df1['month']).month.astype('str')+'-'+df1['variable'].astype('str'), format="%Y-%m-%d")
df1.drop(['variable'],axis=1,inplace=True)

#add cot conton
df_old= df_old[['masanphamphanam','month','giaidoan',
    'thangtruocchuyensang', 'poton', 'podathang', 'pobosung', 'tong',
    'phanbothuchien','conton']].copy()

df1['month']=pd.to_datetime(df1['month'], format="%Y%m%d")
df_old['month']=pd.to_datetime(df_old['month'])
df_old=dropdup(df_old,3,subset=['masanphamphanam','month'])
df1=pd.merge(df1,df_old,how='left', on=['masanphamphanam','month'])

# tonchuanhap['ngayreview']=pd.to_datetime(tonchuanhap['ngayreview'], format="%d/%m/%Y")

#datenow_1dago = datetime.now().replace(hour=23,minute=30) - timedelta(days=1)

df1['inserted_at'] = datetime.now()
# tonchuanhap['inserted_at'] = datetime.now()
# songaynhapkho['inserted_at'] = datetime.now()
# quycachdh['inserted_at'] = datetime.now()

# bq_values_insert(df1,"d_nm_kehoachsanxuat",3)

In [4]:
dk = df1.masanphamphanam == 'EH110'

In [5]:
df1

,masanphamphanam,tensanpham,month,soluong,ngaysx,giaidoan,thangtruocchuyensang,poton,podathang,pobosung,tong,phanbothuchien,conton,inserted_at
180,EH110,Metoxa,2022-07-01,10000,2022-07-13,PC-PL,NaN,-,"10,000",NaN,"10,000","10,000",-,2022-10-26 14:49:50.002356
277,EH110,Metoxa,2022-08-01,10000,2022-08-19,PC-PL,NaN,-,NaN,"10,000","10,000","10,000",-,2022-10-26 14:49:50.002356

In [8]:
dk1 = t11.masanphamphanam == 'EH110'

In [62]:
t11=pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vRD6M-I1HqZYPnrOeRy3q_RKVzIAml-tItrBDUdPUZcX1KGNGHvYL-7dabjV8Ao1IcNRM01pCrGuOb6/pub?gid=507303559&single=true&output=csv")

In [63]:
t11.columns = cleancols(t11)
t11.columns = lower_col(t11)

In [64]:
t11['month']='2022-11-01'

In [65]:
df = t11

In [66]:
df.columns

Index(['stt', 'masanphamphanam', 'tensanpham', 'giaidoan',
       'thangtruocchuyensang', 'poton', 'podathang', 'pobosung', 'tong',
       'phanbothuchien', 'conton', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '30', 'month'],
      dtype='object')

In [67]:
df_old=df.copy()
drop_cols(df,['stt','giaidoan',
    'thangtruocchuyensang', 'poton', 'podathang', 'pobosung', 'tong',
    'phanbothuchien','conton'])
df = pd.melt(df,id_vars=['masanphamphanam', 'tensanpham','month'])

In [68]:
df.to_clipboard()

In [42]:
df

     masanphamphanam      tensanpham       month variable value
0                NaN        Vi√™n n√©n  2022-11-01      stt     I
1              EH093    Efodyl 250mg  2022-11-01      stt     1
2              EH070    Efodyl 500mg  2022-11-01      stt     2
3              EH104    Cebest 100mg  2022-11-01      stt     3
4              EH103    Cebest 200mg  2022-11-01      stt     4
...              ...             ...         ...      ...   ...
3466           EH111          Aquima  2022-11-01       30    PC
3467           EH115          Ebysta  2022-11-01       30   NaN
3468           EH124       Amfortgel  2022-11-01       30   NaN
3469             NaN  Agatop (133ml)  2022-11-01       30   NaN
3470             NaN       Vadikiddy  2022-11-01       30   NaN

[3471 rows x 5 columns]

In [32]:
df.rename(columns={'value':'soluong',
                    }, inplace=True)

In [33]:
df.columns

Index(['masanphamphanam', 'tensanpham', 'month', 'variable', 'soluong'], dtype='object')