In [1]:
from utils.df_handle import *

In [2]:
df = pd.read_csv("C:/Users/DELL/Downloads/20220322_F_TrackingDebt_BI.csv")

In [3]:
# df.columns

In [4]:
dk = df.SubChannel == 'INS1'

In [5]:
df[dk].to_clipboard()

In [5]:
vc(df, ['SubChannel','Terms','PaymentsForm','TermsType','DebtInCharge']).to_clipboard()

In [6]:
vc(df, 'SubChannel')

   SubChannel  counts
0          NT  148122
1          PK   13681
2        CLC3    5137
3        INS1    5032
4        CLC1    4634
5        CLC2    4205
6        INS2    1677
7          SI    1564
8        INS3    1467
9       DLPP3    1003
10      CHUOI     933
11      DLPP2     313
12       CLC4     239
13      DLPP1      74
14         NB       2

In [8]:
dk = df.SubChannel == 'DLPP2'

In [9]:
df1 = df[dk].copy()

In [12]:
dk1 = df1.Terms.isin(['Thu tiền ngay không có VP PN','Thu tiền ngay có VP PN'])

In [13]:
df1[dk1].to_clipboard()