In [44]:
from utils.df_handle import *

In [45]:
df1=get_ps_df("select * from f_tracking_debt")

In [46]:
# vc(df1, 'termstype')

In [47]:
# vc(df1, 'subchannel')

In [48]:
# dkk=df1.subchannel == 'CHUOI'
# dkb=df1.termstype == 'Cho nợ'
# vc(df1[dkk], 'paymentsform')

In [49]:
dk1 = df1.subchannel.isin(["NT","PK","SI"])
dk2 = df1.paymentsform == "TM"
# dka = df1.terms.isin( ["Gối Đầu 30 Pha Nam","Thu tiền ngay không có VP PN","Thu tiền ngay có VP PN","Gối 1 Đơn Hàng (trong 30 ngày)"] )
dkfinal1 = dk1&dk2
dk3 = df1.subchannel == 'CHUOI'
dk4 = df1.termstype == "Thanh Toán Ngay"
dk5 = df1.paymentsform == "TM"
dkfinal2 = dk3&dk4&dk5
dk6 = df1.subchannel.isin(["INS1","INS2","INS3"])
df1['debtincharge_v2']=np.where(dkfinal1 | dkfinal2, "MDS", \
    np.where(dk6, "INS", "CS"))

In [1]:
# dkfinal1.sum()

In [33]:
# dkfinal2.sum()

In [34]:
vc(df1, 'debtincharge_v2')

  debtincharge_v2  counts
0              CS    6304
1             MDS    1941

In [50]:
primary_keys=['ordernbr', 'branchid', 'dateoforder', 'duedate']

In [51]:
execute_values_upsert(df1, 'f_tracking_debt', primary_keys)

INSERT INTO f_tracking_debt(ordernbr,branchid,position,slsperid,supname,asmname,rsmname,dateoforder,duedate,custid,refcustid,custname,slspername,inchargename,debtincharge,terms,paymentsform,termstype,territory,state,vptt,deliveryunit,subchannel,tiennodauky,tienchotso,tiengiaothanhcong,tienhuydon,tienlenbangke,tienthuquyxacnhan,dondauky,donchotso,dongiaothanhcong,donhuy,donlenbangke,donthuquyxacnhan,tiennocongty,donnocongty,donchuagiao,tiendonchuagiao,orderdate,channels,inserted_at,trangthaigiaohang,manvgh,deli_last_updated,debtincharge_v2) VALUES %s ON CONFLICT (ordernbr, branchid, dateoforder, duedate) DO UPDATE SET position = excluded.position, slsperid = excluded.slsperid, supname = excluded.supname, asmname = excluded.asmname, rsmname = excluded.rsmname, custid = excluded.custid, refcustid = excluded.refcustid, custname = excluded.custname, slspername = excluded.slspername, inchargename = excluded.inchargename, debtincharge = excluded.debtincharge, terms = excluded.terms, paymentsform = excluded.paymentsform, termstype = excluded.termstype, territory = excluded.territory, state = excluded.state, vptt = excluded.vptt, deliveryunit = excluded.deliveryunit, subchannel = excluded.subchannel, tiennodauky = excluded.tiennodauky, tienchotso = excluded.tienchotso, tiengiaothanhcong = excluded.tiengiaothanhcong, tienhuydon = excluded.tienhuydon, tienlenbangke = excluded.tienlenbangke, tienthuquyxacnhan = excluded.tienthuquyxacnhan, dondauky = excluded.dondauky, donchotso = excluded.donchotso, dongiaothanhcong = excluded.dongiaothanhcong, donhuy = excluded.donhuy, donlenbangke = excluded.donlenbangke, donthuquyxacnhan = excluded.donthuquyxacnhan, tiennocongty = excluded.tiennocongty, donnocongty = excluded.donnocongty, donchuagiao = excluded.donchuagiao, tiendonchuagiao = excluded.tiendonchuagiao, orderdate = excluded.orderdate, channels = excluded.channels, inserted_at = excluded.inserted_at, trangthaigiaohang = excluded.trangthaigiaohang, manvgh = excluded.manvgh, deli_last_updated = excluded.deli_last_updated, debtincharge_v2 = excluded.debtincharge_v2
Data inserted using execute_values() successfully..

In [52]:
dk1 = df1.debtincharge == 'MDS'

In [53]:
dk2 = df1.debtincharge_v2 == 'MDS'

In [54]:
df1a = df1[dk1].copy()

In [55]:
df1b = df1[dk2].copy()

In [56]:
drop_cols(df1a, ['debtincharge','debtincharge_v2'])

In [57]:
drop_cols(df1b, ['debtincharge','debtincharge_v2'])

In [43]:
df1a.shape

(2565, 44)

In [26]:
df1a.columns

Index(['ordernbr', 'branchid', 'position', 'slsperid', 'supname', 'asmname',
       'rsmname', 'dateoforder', 'duedate', 'custid', 'refcustid', 'custname',
       'slspername', 'inchargename', 'terms', 'paymentsform', 'termstype',
       'territory', 'state', 'vptt', 'deliveryunit', 'subchannel',
       'tiennodauky', 'tienchotso', 'tiengiaothanhcong', 'tienhuydon',
       'tienlenbangke', 'tienthuquyxacnhan', 'dondauky', 'donchotso',
       'dongiaothanhcong', 'donhuy', 'donlenbangke', 'donthuquyxacnhan',
       'tiennocongty', 'donnocongty', 'donchuagiao', 'tiendonchuagiao',
       'orderdate', 'channels', 'inserted_at', 'trangthaigiaohang', 'manvgh',
       'deli_last_updated', 'debtincharge_v2'],
      dtype='object')

In [22]:
df1b.shape

(1941, 45)

In [58]:
dfs_diff(df1a,df1b).to_clipboard()