In [4]:
from utils.df_handle import *

In [5]:
df = pd.read_csv("duedate_v2.csv", parse_dates=['DateOfOrder'], dayfirst=True)

In [6]:
df.head()

  BranchID    CustID        OrderNbr DateOfOrder
0   MR0001  TN80E088  DH052021-00747  2021-05-27
1   MR0001  TN80E088  DH052021-00750  2021-05-27
2   MR0001  TN80E088  DH052021-00751  2021-05-27
3   MR0001  TN80E088  DH062021-00065  2021-06-03
4   MR0001  TN80E088  DH062021-00066  2021-06-03

In [7]:
df['count'] = 1

In [9]:
df['group']=df.groupby(['BranchID','CustID','DateOfOrder'])['count'].cumsum()

In [12]:
df['OD'] = df.OrderNbr

In [14]:
pivot(df, ['CustID','DateOfOrder'], {'OD':np.min})

     CustID DateOfOrder              OD
0  TN80E088  2021-05-27  DH052021-00747
1  TN80E088  2021-06-03  DH062021-00065
2  TN80E088  2021-07-27  DH072021-00733
3  TN80E088  2021-08-26  DH082021-00961