In [1]:
from utils.df_handle import *

In [3]:
# df1 = pd.read_csv('baocao.csv')

In [6]:
# ctr1 = df1['Thành tiền'] != 0

In [7]:
# df2 = df1[ctr1]

In [8]:
# df2.to_excel('baocao.xlsx')

In [10]:
# df1.shape

(441052, 26)

In [9]:
# df2.shape

(363318, 26)

In [ ]:
df1 = pd.read_csv('0511_Data.csv')

In [48]:
df1.columns = cleancols(df1)
df1.columns = lower_col(df1)

In [50]:
df1.columns

Index(['nam', 'quy', 'thang', 'mien', 'khuvuc', 'tinh', 'kenh', 'kenhphu',
       'phanloaihco', 'yttn', 'tentathcotenme', 'madlpp', 'tendlpp', 'mahco',
       'tenhco', 'mahcp', 'tenhcp', 'masp', 'tensp', 'tentatsp',
       'dongiatruocvat', 'dongiasauvat', 'soluong', 'thanhtientruocvat',
       'thanhtiensauvat', 'thanhtientruocvat1000d', 'macrsscrs', 'crsscrs',
       'acrmcrm', 'scrmcrm', 'ncrm', 'tenspchienluoc', 'nhomsp'],
      dtype='object')

In [51]:
df1.thang = pd.to_datetime(df1.thang, dayfirst=True)

In [52]:
drop_cols(df1, ['nam','quy','thanhtientruocvat1000d','mien'])

In [53]:
df1.columns

Index(['thang', 'khuvuc', 'tinh', 'kenh', 'kenhphu', 'phanloaihco', 'yttn',
       'tentathcotenme', 'madlpp', 'tendlpp', 'mahco', 'tenhco', 'mahcp',
       'tenhcp', 'masp', 'tensp', 'tentatsp', 'dongiatruocvat', 'dongiasauvat',
       'soluong', 'thanhtientruocvat', 'thanhtiensauvat', 'macrsscrs',
       'crsscrs', 'acrmcrm', 'scrmcrm', 'ncrm', 'tenspchienluoc', 'nhomsp'],
      dtype='object')

In [54]:
# df1.head(100).to_clipboard()

In [55]:
# df1.drop(labels=['nam','quy','thanhtientruocvat1000d'], axis=1, inplace=True)

In [2]:
cols_list = \
[
'thang',
'khuvucviettat',
'tentinhkh',
'makenhkh',
'makenhphu',
'newhco',
'yttn',
'tentathcotenme',
'madlpp',
'tendlpp',
'makhcu',
'tenkhachhang',
'mahcp',
'tenhcp',
'masanpham',
'tensanphamnb',
'tensanphamviettat',
'dongiachuavat',
'dongiacovat',
'soluong',
'doanhsochuavat',
'doanhsotruocvat',
'manv',
'tencvbh',
'tenquanlytt',
'tenquanlykhuvuc',
'tenquanlyvung',
'phanloaispcl',
'nhomsp'
]

In [57]:
df1.columns = cols_list

In [58]:
df1.columns

Index(['thang', 'tenkhuvucviettat', 'tentinhkh', 'makenhkh', 'makenhphu',
       'newhco', 'yttn', 'tentathcotenme', 'madlpp', 'tendlpp', 'makhcu',
       'tenkhachhang', 'mahcp', 'tenhcp', 'masanpham', 'tensanphamnb',
       'tensanphamviettat', 'dongiachuavat', 'dongiacovat', 'soluong',
       'doanhsochuavat', 'doanhsotruocvat', 'manv', 'tencvbh', 'tenquanlytt',
       'tenquanlykhuvuc', 'tenquanlyvung', 'phanloaispcl', 'nhomsp'],
      dtype='object')

In [59]:
ctr1 = df1['thang'] == datetime(2021,1,1)

In [60]:
# df1['madlpp'] = df1['madlpp'].replace('0', np.NaN, inplace=True)

In [61]:
# vc(df1, 'madlpp')

In [62]:
# df1['madlpp'] = df1['madlpp'].replace('0', np.NaN, inplace=True)

In [63]:
df2 = df1['madlpp']
df2.replace('0', np.NaN, inplace=True)
df1['madlpp'] = df2
df2 = df1['tendlpp']
df2.replace('0', np.NaN, inplace=True)
df1['tendlpp'] = df2
del(df2)

In [79]:
df1['tenhcp'].replace("KHÔNG PHÂN CTV", "0. Ko CTV", inplace=True)
df1['mahcp'].replace("KHÔNG PHÂN CTV", "0. Ko CTV", inplace=True)

In [ ]:
df1['tenquanlykhuvuc'].replace("Nguyễn Thọ Chiến (KN)", "Nguyễn Thọ Chiến", inplace=True)
df1['tenquanlykhuvuc'].replace("Dương Tấn Bửu (KN)", "Dương Tấn Bửu", inplace=True)

In [80]:
# vc(df1, "mahcp").to_clipboard()

In [81]:
# df1[df1.duplicated(keep=False, subset=['thang','newhco','tenkhachhang','masanpham','soluong','mahcp','tencvbh'])].to_clipboard()

In [82]:
# ctr2 = df1['mahco'] == 'N0580210401'
# df3 = df1[ctr1]
# df3.shape
# df3.to_clipboard()
# df1[df1.duplicated(keep=False)].to_clipboard()
# df3[df3.duplicated(keep=False, subset=['thang','mahco','masp','soluong','mahcp','crsscrs'])].to_clipboard()
# df1[df1.duplicated(keep=False, subset=['thang','mahco','tenhco','masp','soluong','mahcp','crsscrs'])].shape
# print_df_schema(df1)
# df2 = df1[['thang','mahco','masp','soluong','mahcp']].copy()
# df2[checkdup(df2,2)].to_clipboard()
# df_filter(df1, mahco='N0110707', masp='OH053').to_clipboard()

In [83]:
df2 = df1[['makhcu','tenkhachhang']].copy()
df2.drop_duplicates(inplace=True, keep='first')
# df_to_dict(df2)
df1['tenkhachhang'] = df1['makhcu'].map(df_to_dict(df2))
del(df2)
df1.doanhsochuavat.sum()
# print_df_schema(df1)

In [91]:
grouplist = \
    ['thang', 'tenkhuvucviettat', 'tentinhkh', 'makenhkh', 'makenhphu',
       'newhco', 'yttn', 'tentathcotenme', 'madlpp', 'tendlpp', 'makhcu',
       'tenkhachhang', 'mahcp', 'tenhcp', 'masanpham', 'tensanphamnb',
       'tensanphamviettat', 'manv', 'tencvbh', 'tenquanlytt',
       'tenquanlykhuvuc', 'tenquanlyvung', 'phanloaispcl', 'nhomsp']
agg_dict = \
{
    'dongiachuavat':np.sum, 'dongiacovat':np.sum, 'soluong':np.sum,
       'doanhsochuavat':np.sum, 'doanhsotruocvat':np.sum
}
df2 =  pivot(df1, grouplist, agg_dict)
df2.duplicated().sum()

In [102]:
df2[df2.duplicated(keep=False, subset=['thang','newhco','makhcu','masanpham','soluong','mahcp','tencvbh'])]

Empty DataFrame
Columns: [thang, tenkhuvucviettat, tentinhkh, makenhkh, makenhphu, newhco, yttn, tentathcotenme, madlpp, tendlpp, makhcu, tenkhachhang, mahcp, tenhcp, masanpham, tensanphamnb, tensanphamviettat, manv, tencvbh, tenquanlytt, tenquanlykhuvuc, tenquanlyvung, phanloaispcl, nhomsp, dongiachuavat, dongiacovat, soluong, doanhsochuavat, doanhsotruocvat]
Index: []

[0 rows x 29 columns]

In [56]:
# df2.doanhsochuavat.sum()

In [106]:
print_df_schema(df2)

thang TIMESTAMP NULL,
tenkhuvucviettat VARCHAR(100) NULL,
tentinhkh VARCHAR(100) NULL,
makenhkh VARCHAR(100) NULL,
makenhphu VARCHAR(100) NULL,
newhco VARCHAR(100) NULL,
yttn VARCHAR(100) NULL,
tentathcotenme VARCHAR(100) NULL,
madlpp VARCHAR(100) NULL,
tendlpp VARCHAR(100) NULL,
makhcu VARCHAR(100) NULL,
tenkhachhang VARCHAR(100) NULL,
mahcp VARCHAR(100) NULL,
tenhcp VARCHAR(100) NULL,
masanpham VARCHAR(100) NULL,
tensanphamnb VARCHAR(100) NULL,
tensanphamviettat VARCHAR(100) NULL,
manv VARCHAR(100) NULL,
tencvbh VARCHAR(100) NULL,
tenquanlytt VARCHAR(100) NULL,
tenquanlykhuvuc VARCHAR(100) NULL,
tenquanlyvung VARCHAR(100) NULL,
phanloaispcl VARCHAR(100) NULL,
nhomsp VARCHAR(100) NULL,
dongiachuavat NUMERIC(24) NULL,
dongiacovat BIGINT NULL,
soluong NUMERIC(24) NULL,
doanhsochuavat NUMERIC(24) NULL,
doanhsotruocvat BIGINT NULL,

In [107]:
execute_values_insert(df2, "f_monthly_sales")

Data inserted using execute_values() successfully..

In [108]:
df2.shape

(318923, 29)

In [1]:
# clean makenhphu, makenhkh (INS **, CLC **)

In [59]:
# DATA 2020

In [3]:
df2 = pd.read_csv('Data2020.csv')

d:\data_sale\venv\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (9,10,15,16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df2.columns

Index(['NĂM', 'QUÍ', 'THÁNG', 'MIỀN', 'KHU VỰC', 'TỈNH/\nĐỊA BÀN', 'KÊNH',
       'KÊNH PHỤ - DATA', 'PL HCO', 'YTTN', 'TEN KH - TAT', 'Mã ĐLPP',
       'TÊN ĐLPP', 'Mã HCO', 'Tên HCO', 'Mã HCPs', 'Tên HCPs', 'MÃ SP',
       'TÊN SẢN PHẨM', 'TÊN TẮT SP', 'ĐƠN GIÁ TRƯỚC VAT', 'ĐƠN GIÁ SAU VAT',
       'SL', 'THÀNH TIỀN - TRƯỚC VAT', 'THÀNH TIỀN - SAU VAT',
       'THÀNH TIỀN - TÍNH LƯƠNG', 'MÃ TDV', 'CRS/ CRSS', 'A.CRM/ CRM',
       'S.CRM/ CRM*', 'N.CRM', 'TÊN SP CHIẾN LƯỢC', 'NHÓM SP'],
      dtype='object')

In [5]:
df2.columns = cleancols(df2)
df2.columns = lower_col(df2)

In [6]:
df2.columns

Index(['nam', 'qui', 'thang', 'mien', 'khuvuc', 'tinhdiaban', 'kenh',
       'kenhphudata', 'plhco', 'yttn', 'tenkhtat', 'madlpp', 'tendlpp',
       'mahco', 'tenhco', 'mahcps', 'tenhcps', 'masp', 'tensanpham',
       'tentatsp', 'dongiatruocvat', 'dongiasauvat', 'sl', 'thanhtientruocvat',
       'thanhtiensauvat', 'thanhtientinhluong', 'matdv', 'crscrss', 'acrmcrm',
       'scrmcrm', 'ncrm', 'tenspchienluoc', 'nhomsp'],
      dtype='object')

In [7]:
df2.thang = pd.to_datetime(df2.thang, dayfirst=True)

In [8]:
drop_cols(df2, ['nam','qui','thanhtientinhluong','mien'])

In [9]:
df2.columns = cols_list

In [10]:
df2['phanloaispcl'] = np.where(df2['phanloaispcl'].isin(['CEBEST','NMNT','MPTL','MDR','Tiêu hóa','XPL','Khác']), df2['phanloaispcl'], 'Khác')
df2['nhomsp'] = np.where(df2['nhomsp'].isin(['Khác','SP còn lại']), 'Khác', df2['nhomsp'])
df2['nhomsp'] = np.where(df2['nhomsp'].isin(['Chiến lược','SPCL']), 'SPCL', df2['nhomsp'])
df2['nhomsp'] = np.where(df2['nhomsp'].isin(['SP mới','Sp mới']), 'SP MOI', df2['nhomsp'])
df2.nhomsp.fillna('Khác', inplace=True)

In [15]:
vc(df2, 'nhomsp')

   nhomsp  counts
0    Khác  298803
1    SPCL   97889
2  SP MOI   43108

In [16]:
vc(df2, 'tenquanlykhuvuc')

          tenquanlykhuvuc  counts
0       NGUYEN HOANG VIEN  316189
1      DUONG TAN BUU (KN)   53308
2             NGO TIEN VU   11857
3       HOANG TRUNG THANH    9284
4            TRAN CHI TAM    8982
5            DAO TAN HIEU    7219
6         NGUYEN THI DUNG    5518
7            LAM VAN CANH    5431
8         VO THI KIM LIEN    5254
9             LE DUC CHAU    5206
10          DUONG TAN BUU    4553
11      PHAN THI BINH KHE    3703
12  NGUYEN THO CHIEN (KN)    2209
13    NGUYEN THI DUNG CRM    1087

In [17]:
vc(df2, 'tenquanlyvung')

      tenquanlyvung  counts
0     DUONG TAN BUU  423203
1  NGUYEN THO CHIEN   16597

In [18]:
df2['tenquanlykhuvuc'].replace("DUONG TAN BUU (KN)", "DUONG TAN BUU", inplace=True)
df2['tenquanlykhuvuc'].replace("NGUYEN THO CHIEN (KN)", "NGUYEN THO CHIEN", inplace=True)

In [19]:
vc(df2, 'makenhkh')

  makenhkh  counts
0      OTC  367028
1      CLC   56175
2      INS   16597

In [20]:
df3 = df2[['makhcu','tenkhachhang']].copy()
df3.drop_duplicates(inplace=True, keep='first')
# df_to_dict(df3)
df2['tenkhachhang'] = df2['makhcu'].map(df_to_dict(df3))
del(df3)
# df2.doanhsochuavat.sum()
# print_df_schema(df2)

In [21]:
grouplist = \
    ['thang', 'khuvucviettat', 'tentinhkh', 'makenhkh', 'makenhphu',
       'newhco', 'yttn', 'tentathcotenme', 'madlpp', 'tendlpp', 'makhcu',
       'tenkhachhang', 'mahcp', 'tenhcp', 'masanpham', 'tensanphamnb',
       'tensanphamviettat', 'manv', 'tencvbh', 'tenquanlytt',
       'tenquanlykhuvuc', 'tenquanlyvung', 'phanloaispcl', 'nhomsp']
agg_dict = \
{
    'dongiachuavat':np.sum, 'dongiacovat':np.sum, 'soluong':np.sum,
       'doanhsochuavat':np.sum, 'doanhsotruocvat':np.sum
}
df3 =  pivot(df2, grouplist, agg_dict)
df3.duplicated().sum()

0

In [22]:
df3['inserted_at'] = datetime(2020,12,31)
execute_values_insert(df3, "f_monthly_sales")

In [2]:
df2 = pd.read_csv('Data2019.csv')

d:\data_sale\venv\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (8,9,10,15,16,26,31,32) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df2.columns = cleancols(df2)
df2.columns = lower_col(df2)

In [4]:
df2.columns

Index(['nam', 'quy', 'thang', 'mien', 'khuvuc', 'tinh', 'kenh', 'kenhphu',
       'phanloaihco', 'yttnnn', 'tentatkh', 'madlpp', 'tendlpp', 'mahco',
       'tenhco', 'mahcp', 'tenhcp', 'masp', 'tensp', 'tentatsp',
       'dongiatruocvat', 'dongiasauvat', 'soluong', 'thanhtientruocvat',
       'thanhtiensauvat', 'thanhtientinhluong', 'macrscrss', 'crscrss',
       'acrmcrm', 'scrmcrm', 'ncrmncrd', 'tennhomspcl', 'tennhomsp'],
      dtype='object')

In [5]:
drop_cols(df2, ['nam','quy','thanhtientinhluong','mien'])

In [6]:
df2.columns

Index(['thang', 'khuvuc', 'tinh', 'kenh', 'kenhphu', 'phanloaihco', 'yttnnn',
       'tentatkh', 'madlpp', 'tendlpp', 'mahco', 'tenhco', 'mahcp', 'tenhcp',
       'masp', 'tensp', 'tentatsp', 'dongiatruocvat', 'dongiasauvat',
       'soluong', 'thanhtientruocvat', 'thanhtiensauvat', 'macrscrss',
       'crscrss', 'acrmcrm', 'scrmcrm', 'ncrmncrd', 'tennhomspcl',
       'tennhomsp'],
      dtype='object')

In [7]:
cols_list = \
[
'thang',
'khuvucviettat',
'tentinhkh',
'makenhkh',
'makenhphu',
'newhco',
'yttn',
'tentathcotenme',
'madlpp',
'tendlpp',
'makhcu',
'tenkhachhang',
'mahcp',
'tenhcp',
'masanpham',
'tensanphamnb',
'tensanphamviettat',
'dongiachuavat',
'dongiacovat',
'soluong',
'doanhsochuavat',
'doanhsotruocvat',
'manv',
'tencvbh',
'tenquanlytt',
'tenquanlykhuvuc',
'tenquanlyvung',
'phanloaispcl',
'nhomsp'
]

In [8]:
df2.columns = cols_list

In [9]:
df2.columns

Index(['thang', 'khuvucviettat', 'tentinhkh', 'makenhkh', 'makenhphu',
       'newhco', 'yttn', 'tentathcotenme', 'madlpp', 'tendlpp', 'makhcu',
       'tenkhachhang', 'mahcp', 'tenhcp', 'masanpham', 'tensanphamnb',
       'tensanphamviettat', 'dongiachuavat', 'dongiacovat', 'soluong',
       'doanhsochuavat', 'doanhsotruocvat', 'manv', 'tencvbh', 'tenquanlytt',
       'tenquanlykhuvuc', 'tenquanlyvung', 'phanloaispcl', 'nhomsp'],
      dtype='object')

In [18]:
vc(df2, 'phanloaispcl')

  phanloaispcl  counts
0         Khác  502314
1          XPL   12975
2          MDR    8151
3       CEBEST    4501
4         NMNT    3146

In [15]:
df2['phanloaispcl'].fillna('Khác', inplace=True)

In [17]:
df2['phanloaispcl'].replace("Mắt", "NMNT", inplace=True)
df2['phanloaispcl'].replace("CBT", "CEBEST", inplace=True)

In [22]:
vc(df2, 'nhomsp')

  nhomsp  counts
0   Khác  502314
1   SPCL   28773

In [20]:
df2['nhomsp'].fillna('Khác', inplace=True)

In [24]:
vc(df2, 'makenhkh')

  makenhkh  counts
0      OTC  325513
1      MDS  108551
2      CLC   78904
3      INS   18119

In [34]:
vc(df2, 'makenhphu').sort_values('makenhphu')

   makenhphu  counts
10     CHUOI     826
2       CLC1   39441
3       CLC2   21609
4       CLC3   17854
8       DLPP    2159
5       INS1   13692
7       INS2    2444
9       INS3    1983
0         NT  372156
1         PK   56195
6         SI    2728

In [25]:
df2['makenhphu'] = np.where(df2['makenhphu'].isin(['NTL','NTC','NTXQBV']), 'NT', df2['makenhphu'])
df2['makenhphu'] = np.where(df2['makenhphu'].isin(['PKK','PKDK','PKC']), 'PK', df2['makenhphu'])

In [27]:
# df2['makenhphu']

In [14]:
vc(df2, 'tenquanlykhuvuc')

          tenquanlykhuvuc  counts
0            DAO TAN HIEU  119507
1       NGUYEN HOANG VIEN   91273
2       HOANG TRUNG THANH   78052
3             NGO TIEN VU   73766
4            TRAN CHI TAM   64432
5         NGUYEN THI DUNG   31413
6             LE DUC CHAU   31076
7      DUONG TAN BUU (KN)   17560
8         VO THI KIM LIEN    6378
9           DUONG TAN BUU    5889
10           LAM VAN CANH    5810
11      PHAN THI BINH KHE    3371
12  NGUYEN THO CHIEN (KN)    2560

In [35]:
df2['tenquanlykhuvuc'].replace("DUONG TAN BUU (KN)", "DUONG TAN BUU", inplace=True)
df2['tenquanlykhuvuc'].replace("NGUYEN THO CHIEN (KN)", "NGUYEN THO CHIEN", inplace=True)

In [36]:
df3 = df2[['makhcu','tenkhachhang']].copy()
df3.drop_duplicates(inplace=True, keep='first')
# df_to_dict(df3)
df2['tenkhachhang'] = df2['makhcu'].map(df_to_dict(df3))
del(df3)
# df2.doanhsochuavat.sum()
# print_df_schema(df2)

In [37]:
grouplist = \
    ['thang', 'khuvucviettat', 'tentinhkh', 'makenhkh', 'makenhphu',
       'newhco', 'yttn', 'tentathcotenme', 'madlpp', 'tendlpp', 'makhcu',
       'tenkhachhang', 'mahcp', 'tenhcp', 'masanpham', 'tensanphamnb',
       'tensanphamviettat', 'manv', 'tencvbh', 'tenquanlytt',
       'tenquanlykhuvuc', 'tenquanlyvung', 'phanloaispcl', 'nhomsp']
agg_dict = \
{
    'dongiachuavat':np.sum, 'dongiacovat':np.sum, 'soluong':np.sum,
       'doanhsochuavat':np.sum, 'doanhsotruocvat':np.sum
}
df3 =  pivot(df2, grouplist, agg_dict)
df3.duplicated().sum()

0

In [38]:
df3['inserted_at'] = datetime(2019,12,31)
execute_values_insert(df3, "f_monthly_sales")

Data inserted using execute_values() successfully..