In [1]:
from utils.df_handle import *

Default bq project:  spatial-vision-343005.biteam

In [13]:
sql = \
"""
select sodondathang, macongtycn, sum(doanhsochuavat) as doanhsochuavat from biteam.f_sales where date(ngaychungtu) >= '2022-12-01' and date(ngaychungtu) <= '2022-12-30' group by 1,2
"""

In [14]:
d_bi=get_bq_df(sql)

In [15]:
d_dms0 = pd.read_csv("Rawdata_CSV12.csv")

In [5]:
d_dms = pivot(d_dms0, ['sodondathang','macongtycn'], {'doanhsochuavat':np.sum})

In [16]:
d_dms.doanhsochuavat.sum()

91756434125

In [17]:
d_bi.doanhsochuavat.sum()

91756434125.0

In [7]:
# and kieudonhang != 'NB'

In [8]:
d_bi.doanhsochuavat.sum()

91756434125.0

In [9]:
d_bi.shape

(18963, 3)

In [12]:
dfs_diff(d_bi, d_dms).to_clipboard()

In [10]:
d_bi.shape

(18963, 3)

In [17]:
d_bi.head()

     sodondathang macongtycn  doanhsochuavat
0  DH0-0922-05644     MR0001       1199990.0
1  DH0-0922-05793     MR0001        477139.0
2  DH0-0922-05685     MR0001       1910941.0
3  DH0-0922-05680     MR0001        299520.0
4  DH0-0922-05813     MR0001        490470.0