In [1]:
from utils.df_handle import *

Default bq project:  spatial-vision-343005.biteam

In [2]:
sql = \
"""
select sodondathang, macongtycn, sum(doanhsochuavat) as doanhsochuavat from biteam.f_sales where date(ngaychungtu) >= '2022-11-01' and date(ngaychungtu) <= '2022-11-30' and kieudonhang != 'NB' group by 1,2
"""

In [3]:
d_bi=get_bq_df(sql)

In [4]:
d_dms0 = pd.read_csv("Rawdata_CSV11.csv")

In [5]:
d_dms = pivot(d_dms0, ['sodondathang','macongtycn'], {'doanhsochuavat':np.sum})

In [6]:
d_dms.doanhsochuavat.sum()

86835152470

In [7]:
d_bi.doanhsochuavat.sum()

85829615196.0

In [8]:
d_bi.shape

(20201, 3)

In [9]:
dfs_diff(d_bi, d_dms).to_clipboard()

In [10]:
d_bi.shape

(20201, 3)

In [17]:
d_bi.head()

     sodondathang macongtycn  doanhsochuavat
0  DH0-0922-05644     MR0001       1199990.0
1  DH0-0922-05793     MR0001        477139.0
2  DH0-0922-05685     MR0001       1910941.0
3  DH0-0922-05680     MR0001        299520.0
4  DH0-0922-05813     MR0001        490470.0