In [1]:
from utils.df_handle import *

Default bq project:  spatial-vision-343005.biteam

In [2]:
df_DUY = pd.read_excel("TL_T10_DUY.xlsx")

In [5]:
df_DUY1 =  pivot(df_DUY, ['sodondathang'], {'tltrading':np.sum})

In [8]:
df_DUY1.tail()

         sodondathang  tltrading
19902  OO121022-00001   -9085680
19903  OO121022-00002   -5051436
19904  OO121022-00003 -857140000
19905  OO121022-00004 -195942204
19906  OO121022-00005 -404055796

In [4]:
df_YEN = pd.read_excel("TL_T10_YEN.xlsx")

In [9]:
df_YEN1 =  pivot(df_YEN, ['sodondathang'], {'tltrading':np.sum})

In [13]:
df_YEN1.dtypes

sodondathang    object
tltrading        int64
dtype: object

In [16]:
dfs_diff(df_DUY1, df_YEN1).to_clipboard()