In [1]:
from utils.df_handle import *

Default bq project:  spatial-vision-343005.biteam

In [2]:
df1 = get_ms_df("""select CONCAT(BranchID,OrderNbr,LineRef) as pk FROM OM_PDASalesOrdDet  where CAST(Crtd_DateTime as DATE) >= '2022-01-01' and  CAST(Crtd_DateTime as DATE) <= '2022-06-01'""")

In [3]:
df2 = get_bq_df("""select pk from `biteam.sync_dms_pda_sod` where date(crtd_datetime) >= '2022-01-01'and date(crtd_datetime) <= '2022-06-01'""")

In [5]:
dfs_diff(df1,df2)

                               pk
343419  MR0015DH5-0222-0033100001
562632  MR0015DH5-0422-0180500006
563077  MR0015DH5-0422-0180500004
563313  MR0015DH5-0422-0180500001
563483  MR0015DH5-0422-0180500005
563492  MR0015DH5-0422-0180500007
564145  MR0015DH5-0422-0180500003
564533  MR0015DH5-0422-0180500002