In [1]:
from utils.df_handle import *

Default bq project:  spatial-vision-343005.biteam

In [89]:
table_name = "sync_dms_lt"
from_tb = "OM_LotTrans"

In [90]:
datenow_mns45 = "20220101"

In [91]:
sql = \
f"""
DECLARE @from DATE = '{datenow_mns45}'
DECLARE @to DATE = '2022-01-31'
SELECT
CONCAT(BranchID,OrderNbr,LotSerNbr,OMLineRef) as pk,
BranchID,
OrderNbr,
LotSerNbr = ISNULL(LotSerNbr, ''),
OMLineRef,
ExpDate,
Crtd_DateTime,
Crtd_User,
LUpd_DateTime,
LUpd_User
from {from_tb}
where CAST(Crtd_DateTime as DATE) < @from
"""

In [92]:
print(sql)

DECLARE @from DATE = '20220101'
DECLARE @to DATE = '2022-01-31'
SELECT
CONCAT(BranchID,OrderNbr,LotSerNbr,OMLineRef) as pk,
BranchID,
OrderNbr,
LotSerNbr = ISNULL(LotSerNbr, ''),
OMLineRef,
ExpDate,
Crtd_DateTime,
Crtd_User,
LUpd_DateTime,
LUpd_User
from OM_LotTrans
where CAST(Crtd_DateTime as DATE) < @from

In [93]:
df = get_ms_df(sql)

In [94]:
df['inserted_at'] = datetime.now()

In [95]:
df.shape

(479244, 11)

In [96]:
print(table_name, from_tb, datenow_mns45)

sync_dms_lt OM_LotTrans 20220101

In [97]:
bq_values_insert(df, f"{table_name}", 2)

1it [00:45, 45.37s/it]