In [5]:
import pandas as pd

In [30]:
files = ['Rawdata1.csv', 'Rawdata2.csv', 'Rawdata3.csv']

def csv_reader(filename):
    df = pd.read_csv(filename)
    return df

result = pd.DataFrame(columns=['A','B','C'])

for file in files:
    result = result.append(csv_reader(file))

In [31]:
result.shape

(511971, 3)

In [22]:
df2 = pd.DataFrame(columns=['A','B','C'])

In [23]:
df = csv_reader('Rawdata1.csv')

In [14]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [15]:
df2.columns

Index(['A', 'B', 'C'], dtype='object')

In [26]:
df_list = [df, df2]

In [27]:
pd.concat(df_list,ignore_index=True)

                 A               B           C
0       04/05/2021  DH052021-00141  04/05/2021
1       04/05/2021  DH052021-00146  04/05/2021
2       04/05/2021  DH052021-00146  04/05/2021
3       04/05/2021  DH052021-00081  04/05/2021
4       04/05/2021  DH052021-00081  04/05/2021
...            ...             ...         ...
170652  12/08/2021  DH082021-01010  12/08/2021
170653  12/08/2021  DH082021-01010  12/08/2021
170654  12/08/2021  DH082021-01010  12/08/2021
170655  12/08/2021  DH082021-01010  12/08/2021
170656  12/08/2021  DH082021-01010  12/08/2021

[170657 rows x 3 columns]

In [21]:
df2.shape

(0, 3)