In [1]:
from utils.df_handle import *

Default bq project:  spatial-vision-343005.biteam

In [33]:
df = pd.read_csv('GPP_19_09_2022.csv', low_memory=False)

In [34]:
df.columns = lower_col(df)
df.columns = cleancols(df)

In [35]:
df.thoihanhieulucgdpgpp.fillna("1", inplace=True)

In [36]:
df.ngaycapdudkkdd.fillna("1", inplace=True)

In [82]:
df_time = pd.DataFrame(df.thoihanhieulucgdpgpp)

In [84]:
df_time.head()

  thoihanhieulucgdpgpp
0                45807
1                44746
2                44774
3                44695
4                    1

In [40]:
# dk = df.makhachhangdms == 'N01104065'

In [85]:
dk=df_time.thoihanhieulucgdpgpp.str.contains('/')

In [86]:
df_time1=df_time[dk].copy()
df_time2=df_time[~dk].copy()

In [87]:
df_time2

      thoihanhieulucgdpgpp
0                    45807
1                    44746
2                    44774
3                    44695
4                        1
...                    ...
31891                45825
31892                45718
31893                45808
31894                45495
31895                45267

[31838 rows x 1 columns]

In [68]:
df1['M'] = df1.thoihanhieulucgdpgpp.str.split('/', expand=True)[0].astype('int')
df1['Y'] = df1.thoihanhieulucgdpgpp.str.split('/', expand=True)[1].astype('int')

In [69]:
df1['D']=1

In [64]:
df1.thoihanhieulucgdpgpp1

10520    2023
10593    2023
10610    2022
10613    2023
10614    2023
10622    2023
10624    2022
10629    2023
10631    2023
10633    2023
10634    2024
10638    2023
10642    2022
10645    2024
10651    2022
10671    2024
10673    2023
10680    2023
10702    2023
10718    2021
10719    2022
10736    2023
10739    2024
10742    2023
10744    2022
10748    2024
10750    2023
10756    2022
10757    2023
10758    2023
10762    2023
10764    2023
10776    2023
10783    2023
10788    2023
10801    2022
10803    2023
10815    2023
10825    2024
10826    2023
10829    2023
10834    2023
10840    2022
10844    2022
10846    2022
10851    2022
10868    2023
10871    2022
10872    2022
10878    2022
10886    2023
10894    2023
10899    2023
10908    2023
10909    2023
10912    2023
10915    2023
10927    2023
Name: 1, dtype: int32

In [70]:
df1['thoihanhieulucgdpgpp3']=pd.to_datetime((df1.Y*10000+df1.M*100+df1.D).apply(str),format='%Y%m%d')

In [71]:
df1['thoihanhieulucgdpgpp3']

10520   2023-09-01
10593   2023-04-01
10610   2022-05-01
10613   2023-02-01
10614   2023-07-01
10622   2023-06-01
10624   2022-11-01
10629   2023-04-01
10631   2023-12-01
10633   2023-12-01
10634   2024-03-01
10638   2023-03-01
10642   2022-05-01
10645   2024-04-01
10651   2022-12-01
10671   2024-01-01
10673   2023-09-01
10680   2023-07-01
10702   2023-05-01
10718   2021-09-01
10719   2022-05-01
10736   2023-09-01
10739   2024-03-01
10742   2023-05-01
10744   2022-05-01
10748   2024-03-01
10750   2023-09-01
10756   2022-04-01
10757   2023-07-01
10758   2023-09-01
10762   2023-05-01
10764   2023-09-01
10776   2023-09-01
10783   2023-09-01
10788   2023-05-01
10801   2022-04-01
10803   2023-11-01
10815   2023-06-01
10825   2024-03-01
10826   2023-05-01
10829   2023-06-01
10834   2023-09-01
10840   2022-06-01
10844   2022-09-01
10846   2022-06-01
10851   2022-06-01
10868   2023-03-01
10871   2022-07-01
10872   2022-07-01
10878   2022-05-01
10886   2023-05-01
10894   2023-05-01
10899   2023-05-01
10908   2023-05-01
10909   2023-09-01
10912   2023-05-01
10915   2023-05-01
10927   2023-04-01
Name: thoihanhieulucgdpgpp3, dtype: datetime64[ns]

In [28]:
df.thoihanhieulucgdpgpp.head(5)

0    45807
1    44746
2    44774
3    44695
4        1
Name: thoihanhieulucgdpgpp, dtype: object