In [8]:
import pandas as pd
import numpy as np
from utils.df_handle import *

In [4]:
df1 = pd.read_csv('test_data.csv')
print(df1.columns)

Index(['brand', 'count', 'territory'], dtype='object')

In [36]:
un(df1, 'brand')

array(['A', 'B', 'C'], dtype=object)

In [49]:
checkdup(df1,1, 'brand')

0    False
1     True
2    False
3     True
4    False
5     True
6     True
7     True
dtype: bool

In [47]:
df1['SoKH'] = np.where(checkdup(df1,1, 'brand'),0,1)

In [11]:
checkna(df1['territory'])

1

In [12]:
df1['ter_ao'] = np.where(df1['territory'].isna(),0,1)

In [13]:
df1['ter_ao']

0    1
1    0
2    1
3    1
4    1
5    1
6    1
7    1
Name: ter_ao, dtype: int32

In [9]:
isna(df1, 'territory')

  brand  count territory
1     A      2       NaN

In [10]:
df1['territory'].isna()

0    False
1     True
2    False
3    False
4    False
5    False
6    False
7    False
Name: territory, dtype: bool