In [1]:
from utils.df_handle import *

Default bq project:  spatial-vision-343005.biteam

In [2]:
# import os
# import pandas as pd

In [3]:
df = pd.DataFrame()

In [4]:
# df

In [5]:
lst_xlsx = []

In [6]:
# os.listdir()

In [7]:
# for root, dirs, files in os.walk(".", topdown=False):
    # print(files)
    # lst_xlsx.append(files)
    # try:
    #     df = df.append(pd.read_excel(filess))
    # except:
    #     pass

In [10]:
lst = [i for i in os.listdir() if i.endswith(".xlsx")]
    # ]print(i)

In [12]:
# lst

In [13]:
for i in lst:
    df = df.append(pd.read_excel(i), ignore_index=True)
    print(df.shape)

(6807, 12)
(10773, 12)
(14541, 12)
(18469, 12)
(22307, 12)
(25947, 12)
(29895, 12)

In [15]:
# df.to_excel("demoThao.xlsx")

In [20]:
df.columns = cleancols(df)
df.columns = lower_col(df)

In [31]:
df.gio.str.split(":", expand=True)[0]

0        23
1        23
2        23
3        23
4        23
         ..
29890    00
29891    00
29892    00
29893    00
29894    00
Name: 0, Length: 29895, dtype: object

In [32]:
df['h'] = df.gio.str.split(":", expand=True)[0]
df['m'] = df.gio.str.split(":", expand=True)[1]
df['s'] = df.gio.str.split(":", expand=True)[2]

In [44]:
df['new_formatted_date'] = pd.to_datetime((df.h+df.m+df.s).apply(str), format='%H%M%S')

In [49]:
h_0730 = datetime(1900, 1, 1, 7, 30, 0)
h_1730 = datetime(1900, 1, 1, 17, 30, 0)

In [50]:
dk1 = df['new_formatted_date'] >= h_0730
dk2 = df['new_formatted_date'] <= h_1730

In [60]:
df['trong_gio'] =  np.where(dk1&dk2, 1, 0)

Quy định dữ liệu vượt ngưỡng

 - Nhiệt độ: ≥30oC

 - Độ ẩm >75%

Dữ liệu chấp nhận 

 - Nhiệt độ: <30oC
 
 - Độ ẩm ≤75%

In [61]:
nhietdo = 30
doam=75
tuan=1
thang=10

In [ ]:
df['vuot_nhietdo'] =  np.where(dk1&dk2, 1, 0)
df['vuot_nhietdo'] =  np.where(dk1&dk2, 1, 0)

In [59]:
df['vuot_nhiet_do'] =  np.where(dk1&dk2, 1, 0)

  trong_gio  counts
0  ngoaigio   17440
1  tronggio   12455

In [51]:
# df['abc'] = pd.to_datetime(df.Y*10000+df.M*100+df.D,format='%Y%m%d')

In [ ]:
[0,1,2]